{% extends "base.html" %}
{% block main %}
    <div class="container mt-5">
        <div class="card shadow rounded border-primary">
            <h1 class="text-center display-4 mb-4" style="margin-top: 20px">Service Details</h1>
            <div class="card-body">
                <form id="cate_service_form"
                      method="POST"
                      action="{{ url_for("cate_service.form") }}">
                    {#add unprocessed data#}
                    <div class="form-group">
                        <label for="cate_service_unprocessed">Store Data</label>
                        <select class="form-select custom-select"
                                id="cate_service_unprocessed"
                                name="cate_service_unprocessed">
                            {% if not choose_data %}
                                {% for _un_data in unprocessed_data %}<option value="{{ _un_data }}">{{ _un_data }}</option>{% endfor %}
                            {% else %}
                                <option value="{{ choose_data["data"]["unprocessed_data"] }}">{{ choose_data["data"]["unprocessed_data"] }}</option>
                            {% endif %}
                        </select>
                    </div>
                    {#add action#}
                    <div class="form-group">
                        <label for="cate_service_action">Action</label>
                        <select class="form-select custom-select"
                                id="cate_service_action"
                                name="cate_service_action">
                            {% if not choose_data %}
                                {% for _action in action %}<option value="{{ _action }}">{{ _action }}</option>{% endfor %}
                            {% else %}
                                {% for _action in action %}
                                    <option value="{{ _action }}"
                                            {% if choose_data['data']['action'] == _action %}selected{% endif %}>
                                        {{ _action }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    {#add frequency#}
                    <div class="form-group">
                        <label for="cate_service_frequency">Frequency</label>
                        <select class="form-select custom-select"
                                id="cate_service_frequency"
                                name="cate_service_frequency">
                            {% if not choose_data %}
                                {% for _frequency in frequency %}
                                    <option value="{{ _frequency }}" >{{ _frequency }}
                                    </option>
                                {% endfor %}
                            {% else %}
                                {% for _frequency in frequency %}
                                    <option value="{{ _frequency }}"
                                            {% if choose_data["data"]["frequency"] == _frequency %}selected{% endif %}>
                                        {{ _frequency }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    {#add service category#}
                    <div class="form-group">
                        <label for="cate_service_cate">Trust Level</label>
                        <select class="form-select custom-select"
                                id="cate_service_cate"
                                name="cate_service_cate">
                            {% if not choose_data %}
                                {% for _cate_service in cate_service %}<option value="{{ _cate_service }}">{{ _cate_service }}</option>{% endfor %}
                            {% else %}
                                {% for _cate_service in cate_service %}
                                    <option value="{{ _cate_service }}"
                                            {% if choose_data["data"]['category'] == _cate_service %}selected{% endif %}>
                                        {{ _cate_service }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    {#add submit button#}
                    <br>
                    <div>
                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary" value="submit">
                                {% if not session.get("cate_service") %}
                                    Add
                                {% else %}
                                    Update
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
{% block js %}
{% endblock js %}
