{% extends "base.html" %} {% block main %}
<div class="container mt-5">
  <div class="card shadow rounded border-primary">
    <h1 class="text-center display-4 mb-4" style="margin-top: 20px">
      Filter data
    </h1>
    <div class="card-body" style="min-height: 400px">
      {# type show #}
      <div class="form-group">
        <label for="device_name">Type</label>
        <div class="d-flex show-select">
          <select
            class="form-select custom-select"
            id="type_show"
            onchange="addType()"
          >
            <option value="" selected disabled>Select Type</option>
            <option value="1">View Device</option>
            <option value="2">view Service</option>
            <option value="3">View Data by Device</option>
            <option value="4">View Data by Service</option>
            <option value="5">View Action by Service</option>
          </select>
          <!-- <input
            type="text"
            class="form-control me-2"
            id="device_name"
            placeholder="Enter device name"
            required
          />
          <button
            type="button"
            class="btn btn-success"
            id="device_upprocessed_data_add_button"
            style="display: inline-block"
          >
            search
          </button> -->
        </div>
      </div>
      <div class="mt-4 d-none" id="input_form">
        <div>Search</div>
        <input
          type="text"
          class="form-control mb-2"
          id="search"
          placeholder="Enter device name"
          oninput="search()"
        />
      </div>
      <div id="show_type"></div>
    </div>
  </div>
</div>
{% endblock main %} {% block js %} {# add unprocessed data #} {# click add
unprocessed data #}
<script>
  var driverObj;
  var isTour = 0;
  $(document).ready(function () {
    $.ajax("/session/get").then((doc) => {
      isTour = doc.tour;
      if (doc.tour == 1) {
        const driver = window.driver.js.driver;
        driverObj = driver({
          allowClose: false,
          showProgress: true,
          allowKeyboardControl: false,
          steps: [
            {
              element: ".device",
              popover: { title: "Device", description: "device section." },
            },
            {
              element: ".device .card-header img",
              popover: {
                title: "Device page",
                description: "go to device page.",
              },
            },
            {
              element: ".to-center .icon-header",
              popover: {
                title: "Add device",
                description: "open add device modal.",
                onNextClick: () => {
                  // .. load element dynamically
                  // .. and then call
                  $("#addModal").modal("show");
                  driverObj.moveNext();
                },
                onPrevClick: () => {
                  window.location.href = "/?back=1";
                  driverObj.movePrevious();
                },
              },
            },
            {
              element: "#addModal .modal-dialog",
              popover: {
                title: "Device Modal",
                description: "Show add modal.",
                onPrevClick: () => {
                  $("#addModal").modal("hide");
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  validation();
                },
              },
            },
            {
              element: ".swal2-confirm",
              popover: {
                title: "Confirm Add",
                description: "Confirm add new data.",
                onPrevClick: () => {
                  Swal.close();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $(".swal2-confirm").click();
                },
              },
            },
            {
              element: ".icon-header-left",
              popover: {
                title: "Delete section",
                description: "Show delete section.",
                onPrevClick: () => {
                  driverObj.drive(2);
                  $("#addModal").modal("show");
                  driverObj.moveNext();
                  validation();
                },
                onNextClick: () => {
                  showDelete();
                },
              },
            },
            {
              element: ".box-animation",
              popover: {
                title: "Delete section",
                description: "Show delete section.",
                side: "right",
                onPrevClick: () => {
                  closeDelete();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  closeDelete();
                  driverObj.moveNext();
                },
              },
            },
            {
              element: ".edit-icon",
              popover: {
                title: "Edit button",
                description: "Click to show edit Modal.",
                onPrevClick: () => {
                  showDelete();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
              },
            },
            {
              element: ".card-item",
              popover: {
                title: "Divice section",
                description: "Show device section.",
                onNextClick: () => {
                  $(".card-item:first-child").click();
                },
              },
            },
            {
              element: ".accordion-item:first-child",
              popover: {
                title: "Divice data detail",
                description: "Show device data detail section.",
                onPrevClick: () => {
                  $(".card-item:first-child").click();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $(".accordion-button").click();
                },
              },
            },
            {
              element: ".accordion-collapse",
              popover: {
                title: "Divice data section",
                description: "Show device data section.",
                onPrevClick: () => {
                  driverObj.movePrevious();
                  $(".accordion-collapse").removeClass("show");
                  $(".accordion-button").addClass("collapsed");
                },
              },
            },
            {
              element: ".accordion-item:first-child .btn-add",
              popover: {
                title: "Add/Edit divice data ",
                description: "Click to add/edit device data.",
                onNextClick: () => {
                  if (
                    $(".accordion-item:first-child .show-edit-accon").length > 0
                  ) {
                    $(
                      ".accordion-item:first-child .driver-active-element"
                    ).click();
                  } else {
                    $(
                      ".accordion-item:first-child .driver-active-element"
                    ).click();
                  }
                },
              },
            },
            {
              element: ".accordion-collapse",
              popover: {
                title: "Divice data section",
                description: "Show device data section.",
                onNextClick: () => {
                  $(".accordion-item:first-child .btn-add").click();
                },
              },
            },
            {
              element: ".swal2-confirm",
              popover: {
                title: "Confirm Add/Edit",
                description: "Confirm add/edit new data.",
                onPrevClick: () => {
                  Swal.close();
                  if ($(".add-section").length > 0) {
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                  } else {
                    driverObj.movePrevious();
                  }
                },
                onNextClick: () => {
                  $(".swal2-confirm").click();
                  // driverObj.moveNext();
                },
              },
            },
            {
              element: ".service-navigator",
              popover: {
                title: "Service page",
                description: "Show Service page button.",
                onPrevClick: () => {
                  $(".accordion-item .btn-add").click();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  window.location.href =
                    "{{ url_for('service.service_page') }}";
                  driverObj.moveNext();
                },
              },
            },
            //service
            {
              element: ".to-center .icon-header",
              popover: {
                title: "Add service",
                description: "open add service modal.",
                onNextClick: () => {
                  $("#addModal").modal("show");
                  driverObj.moveNext();
                },
                onPrevClick: () => {
                  window.location.href = "/?back=1";
                  driverObj.movePrevious();
                },
              },
            },
            {
              element: "#addModal .modal-dialog",
              popover: {
                title: "Service Modal",
                description: "Show add service modal.",
                onPrevClick: () => {
                  $("#addModal").modal("hide");
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  validation();
                },
              },
            },
            {
              element: ".swal2-confirm",
              popover: {
                title: "Confirm Add",
                description: "Confirm add new service.",
                onPrevClick: () => {
                  Swal.close();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $(".swal2-confirm").click();
                },
              },
            },
            {
              element: ".card-item",
              popover: {
                title: "Service section",
                description: "Show Service section.",
                onPrevClick: () => {
                  $("#addModal").modal("show");
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $(".card-item:first-child").click();
                },
              },
            },
            {
              element: ".icon-service-left",
              popover: {
                title: "Service data",
                description: "Show Service data section.",
                onPrevClick: () => {
                  $(".card-item:first-child").click();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  openAddServiceDetailModal();
                },
              },
            },
            {
              element: "#service_detail_modal .modal-dialog",
              popover: {
                title: "Service data Modal",
                description: "Show add service data modal.",
                onPrevClick: () => {},
                onNextClick: () => {
                  validationAddDetail();
                },
              },
            },
            {
              element: ".swal2-confirm",
              popover: {
                title: "Confirm Add",
                description: "Confirm add new service.",
                onPrevClick: () => {
                  Swal.close();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $(".swal2-confirm").click();
                },
              },
            },
            {
              element: ".accordion-item:first-child",
              popover: {
                title: "Service data detail",
                description: "Show Service data detail section.",
                onPrevClick: () => {
                  openAddServiceDetailModal();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $(".accordion-button").click();
                },
              },
            },
            {
              element: ".accordion-collapse",
              popover: {
                title: "Divice data section",
                description: "Show device data section.",
                onPrevClick: () => {
                  driverObj.movePrevious();
                  $(".accordion-collapse").removeClass("show");
                  $(".accordion-button").addClass("collapsed");
                },
              },
            },
            {
              element: ".btn-add",
              popover: {
                title: "Edit button",
                description: "Show Edit button.",
                onNextClick: () => {
                  $(".driver-active-element").click();
                },
              },
            },
            {
              element: ".accordion-collapse",
              popover: {
                title: "Service edit data",
                description: "Show Service edit data section.",
                onPrevClick: () => {
                  driverObj.drive(21);
                  $(".accordion-collapse").removeClass("show");
                  $(".accordion-button").addClass("collapsed");
                  $(".accordion-button").click();
                  driverObj.moveNext();
                },
              },
            },
            {
              element: ".btn-add",
              popover: {
                title: "Edit button",
                description: "Show Edit button.",
                onNextClick: () => {
                  $(".driver-active-element").click();
                },
              },
            },
            {
              element: ".swal2-confirm",
              popover: {
                title: "Confirm Edit",
                description: "Confirm edit service detail.",
                onPrevClick: () => {
                  Swal.close();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $(".swal2-confirm").click();
                },
              },
            },
            {
              element: ".btn-cancel",
              popover: {
                title: "Delete button",
                description: "Show delete button.",
                onPrevClick: () => {
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                  $(".btn-add").click();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $(".driver-active-element").click();
                },
              },
            },
            {
              element: ".filter-btn",
              popover: {
                title: "Filter section",
                description: "show filter page.",
                onNextClick: () => {
                  $(".driver-active-element").click();
                },
              },
            },
            //filter
            {
              element: ".container",
              popover: {
                title: "Filter section",
                description: "show filter page.",
                onPrevClick: () => {
                  window.location.href =
                    "/service/service_page?service_id=0&to=29";
                },
              },
            },
            {
              element: ".btn-analysis",
              popover: {
                title: "Analysis section",
                description: "show analysis page.",
                onNextClick: () => {
                  $(".driver-active-element").click();
                },
              },
            },
            //analysis
            {
              element: ".container",
              popover: {
                title: "Analysis graph",
                description: "show analysis graph.",
                onPrevClick: () => {
                  window.location.href = "/filter/show_data?to=32";
                },
              },
            },
          ],
        });
        const url = window.location.href;
        const params = new URLSearchParams(window.location.search);
        if (params.get("to")) {
          window.history.pushState({}, "", `${url.split("?")[0]}`);
          driverObj.drive(parseInt(params.get("to")));
        } else {
          driverObj.drive(30);
        }
      }
    });

    $("#type_show").select2({
      width: "100%",
      minimumResultsForSearch: -1,
      dropdownParent: isTour ? $(".container") : $(".show-select"),
    });
  });
  async function search() {
    let search = $("#search").val();
    let table = "";
    let res;
    let json;
    switch ($("#type_show").val()) {
      case "1":
        table = `
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Device Name</th>
            </tr>
          </thead>
            <tbody>
          `;
        res = await $.ajax("/filter/filter?type=devices");
        Object.entries(res).forEach((data, index) => {
          if (
            data[1].device_name.toLowerCase().includes(search.toLowerCase())
          ) {
            table += `
                <tr>
                  <td scope="row">${index + 1}</td>
                  <td>${data[1].device_name}</td>
                </tr>
              `;
          }
        });
        break;
      case "2":
        table = `
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Device Name</th>
            </tr>
          </thead>
            <tbody>
          `;
        res = await $.ajax("/filter/filter?type=services");
        Object.entries(res).forEach((data, index) => {
          if (
            data[1].service_name.toLowerCase().includes(search.toLowerCase())
          ) {
            table += `
                  <tr>
                    <td scope="row">${index + 1}</td>
                    <td>${data[1].service_name}</td>
                  </tr>
                `;
          }
        });
        break;
      case "3":
        table = `
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Device Data</th>
                  <th scope="col">Device Name</th>
                </tr>
              </thead>
                <tbody>
              `;
        res = await $.ajax("/filter/filter?type=data_by_device");
        json = [];
        let data = Object.entries(res).forEach((data, index) => {
          data[1].device_unprocessed.forEach((doc) => {
            if (search) {
              if (
                doc.toLowerCase().includes(search.toLowerCase()) ||
                data[1].device_name.toLowerCase().includes(search.toLowerCase())
              ) {
                json.push([data[1].device_name, doc]);
              }
            } else {
              if ((json[doc.toLowerCase()] ?? []).length > 0) {
                if (!json[doc.toLowerCase()].includes(data[1].device_name)) {
                  json[doc.toLowerCase()].push(data[1].device_name);
                }
              } else {
                json[doc.toLowerCase()] = [doc, data[1].device_name];
              }
            }
          });
        });
        if (search) {
          json.forEach((data, index) => {
            table += `
                        <tr>
                          <td scope="row">${index + 1}</td>
                          <td>${data[1]}</td>
                          <td>${data[0]}</td>
                        </tr>
                      `;
          });
        } else {
          Object.keys(json).forEach((key, index) => {
            table += `
                  <tr>
                    <td scope="row">${index + 1}</td>
                    <td>${json[key][0]}</td>
                    <td>${json[key].slice(1).join(",")}</td>
                  </tr>
                `;
          });
        }
        break;
      case "4":
        table = `
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Device Data</th>
                <th scope="col">Service Name</th>
              </tr>
            </thead>
              <tbody>
            `;
        res = await $.ajax("/filter/filter?type=data_by_service");
        // let json = [{device_names:[],data:'',data_show:''}]
        json = [];
        Object.entries(res[0]).forEach((data, index) => {
          data[1].device_unprocessed.forEach((doc) => {
            Object.entries(res[1]).forEach((device, key) => {
              if (device[1]["cate_service"] !== undefined) {
                Object.entries(device[1]["cate_service"]).forEach((cate) => {
                  Object.entries(cate[1]).forEach((cate_data) => {
                    if (cate_data[0].toLowerCase() == doc.toLowerCase()) {
                      if (search) {
                        if (
                          doc.toLowerCase().includes(search.toLowerCase()) ||
                          device[1].service_name
                            .toLowerCase()
                            .includes(search.toLowerCase())
                        ) {
                          if (
                            !(
                              json[
                                doc.toLowerCase() + "/" + device[1].service_name
                              ] ?? []
                            ).includes(doc.toLowerCase())
                          ) {
                            json[
                              doc.toLowerCase() + "/" + device[1].service_name
                            ] = [
                              device[1].service_name,
                              doc,
                              doc.toLowerCase(),
                            ];
                          }
                        }
                      } else {
                        if ((json[doc.toLowerCase()] ?? []).length > 0) {
                          if (
                            !json[doc.toLowerCase()].includes(
                              device[1].service_name
                            )
                          ) {
                            json[doc.toLowerCase()].push(
                              device[1].service_name
                            );
                          }
                        } else {
                          json[doc.toLowerCase()] = [
                            doc,
                            device[1].service_name,
                          ];
                        }
                      }
                    }
                  });
                });
              }
            });
          });
        });
        Object.keys(json).forEach((key, index) => {
          if (search) {
            table += `
                      <tr>
                        <td scope="row">${index + 1}</td>
                        <td>${json[key][1]}</td>
                        <td>${json[key][0]}</td>
                      </tr>
                    `;
          } else {
            table += `
                      <tr>
                        <td scope="row">${index + 1}</td>
                        <td>${json[key][0]}</td>
                        <td>${json[key].slice(1).join(",")}</td>
                      </tr>
                    `;
          }
        });
        break;
      case "5":
        table = `
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Action</th>
                  <th scope="col">Device Data</th>
                  <th scope="col">Service Name</th>
                </tr>
              </thead>
                <tbody>
              `;
        res = await $.ajax("/filter/filter?type=data_by_service");
        json = [];
        let in_device_data = [];
        Object.entries(res[0]).forEach((data, index) => {
          data[1].device_unprocessed.forEach((doc) => {
            Object.entries(res[1]).forEach((device, key) => {
              if (device[1]["cate_service"] !== undefined) {
                Object.entries(device[1]["cate_service"]).forEach((cate) => {
                  Object.entries(cate[1]).forEach((cate_data) => {
                    if (cate_data[0].toLowerCase() == doc.toLowerCase()) {
                      if (search) {
                        if (
                          cate_data[1].action
                            .toLowerCase()
                            .includes(search.toLowerCase()) ||
                          doc.toLowerCase().includes(search.toLowerCase()) ||
                          device[1].service_name
                            .toLowerCase()
                            .includes(search.toLowerCase())
                        ) {
                          json[
                            cate_data[1].action.toLowerCase() +
                              "/" +
                              cate_data[0].toLowerCase() +
                              "/" +
                              device[1].service_name
                          ] = [
                            cate_data[1].action,
                            doc,
                            device[1].service_name,
                          ];
                        }
                      } else {
                        if (
                          (
                            json[
                              cate_data[1].action.toLowerCase() +
                                "/" +
                                doc.toLowerCase()
                            ] ?? []
                          ).length > 0
                        ) {
                          if (
                            !json[
                              cate_data[1].action.toLowerCase() +
                                "/" +
                                doc.toLowerCase()
                            ].includes(device[1].service_name)
                          ) {
                            in_device_data.push(doc.toLowerCase());
                            json[
                              cate_data[1].action.toLowerCase() +
                                "/" +
                                doc.toLowerCase()
                            ].push(device[1].service_name);
                          }
                        } else {
                          in_device_data.push(doc.toLowerCase());
                          json[
                            cate_data[1].action.toLowerCase() +
                              "/" +
                              doc.toLowerCase()
                          ] = [
                            cate_data[1].action,
                            doc,
                            device[1].service_name,
                          ];
                        }
                      }
                    }
                  });
                });
              }
            });
          });
        });
        Object.entries(res[1]).forEach((device, key) => {
          if (device[1]["cate_service"] !== undefined) {
            Object.entries(device[1]["cate_service"]).forEach((cate) => {
              Object.entries(cate[1]).forEach((cate_data) => {
                if (!in_device_data.includes(cate_data[0].toLowerCase())) {
                  if (search) {
                    if (
                      cate_data[1].action
                        .toLowerCase()
                        .includes(search.toLowerCase()) ||
                      cate_data[0]
                        .toLowerCase()
                        .includes(search.toLowerCase()) ||
                      device[1].service_name
                        .toLowerCase()
                        .includes(search.toLowerCase())
                    ) {
                      if (
                        (
                          json[
                            cate_data[1].action.toLowerCase() +
                              "/" +
                              cate_data[0].toLowerCase() +
                              "/" +
                              device[1].service_name
                          ] ?? []
                        ).length == 0
                      ) {
                        json[
                          cate_data[1].action.toLowerCase() +
                            "/" +
                            cate_data[0].toLowerCase() +
                            "/" +
                            device[1].service_name
                        ] = [cate_data[1].action, "", device[1].service_name];
                      }
                    }
                  } else {
                    if (
                      (json[cate_data[1].action.toLowerCase()] ?? []).length > 0
                    ) {
                      if (
                        !json[cate_data[1].action.toLowerCase()].includes(
                          device[1].service_name
                        )
                      ) {
                        json[cate_data[1].action.toLowerCase()].push(
                          device[1].service_name
                        );
                      }
                    } else {
                      json[cate_data[1].action.toLowerCase()] = [
                        cate_data[1].action,
                        "",
                        device[1].service_name,
                      ];
                    }
                  }
                }
              });
            });
          }
        });
        Object.keys(json).forEach((key, index) => {
          table += `
                      <tr>
                        <td scope="row">${index + 1}</td>
                        <td>${json[key][0]}</td>
                        <td>${json[key][1]}</td>
                        <td>${json[key].slice(2).join(",")}</td>
                      </tr>
                    `;
        });
        break;
    }
    table += `
          </tbody>
        </table>
        `;
    $("#show_type").empty().append(table);
  }
  async function addType() {
    //show type
    let table = "";
    let res;
    let json;
    $("#search").val("");
    $("#input_form").removeClass("d-none");
    switch ($("#type_show").val()) {
      case "1":
        table = `
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Device Name</th>
            </tr>
          </thead>
            <tbody>
          `;
        res = await $.ajax("/filter/filter?type=devices");
        Object.entries(res).forEach((data, index) => {
          table += `
                <tr>
                  <td scope="row">${index + 1}</td>
                  <td>${data[1].device_name}</td>
                </tr>
              `;
        });
        break;
      case "2":
        table = `
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Device Name</th>
            </tr>
          </thead>
            <tbody>
          `;
        res = await $.ajax("/filter/filter?type=services");
        Object.entries(res).forEach((data, index) => {
          table += `
                <tr>
                  <td scope="row">${index + 1}</td>
                  <td>${data[1].service_name}</td>
                </tr>
              `;
        });
        break;
      case "3":
        table = `
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Device Data</th>
              <th scope="col">Device Name</th>
            </tr>
          </thead>
            <tbody>
          `;
        res = await $.ajax("/filter/filter?type=data_by_device");
        // let json = [{device_names:[],data:'',data_show:''}]
        json = [];
        Object.entries(res).forEach((data, index) => {
          data[1].device_unprocessed.forEach((doc) => {
            if ((json[doc.toLowerCase()] ?? []).length > 0) {
              if (!json[doc.toLowerCase()].includes(data[1].device_name)) {
                json[doc.toLowerCase()].push(data[1].device_name);
              }
            } else {
              json[doc.toLowerCase()] = [doc, data[1].device_name];
            }
          });
        });
        Object.keys(json).forEach((key, index) => {
          table += `
                  <tr>
                    <td scope="row">${index + 1}</td>
                    <td>${json[key][0]}</td>
                    <td>${json[key].slice(1).join(",")}</td>
                  </tr>
                `;
        });
        break;
      case "4":
        table = `
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Device Data</th>
                <th scope="col">Service Name</th>
              </tr>
            </thead>
              <tbody>
            `;
        res = await $.ajax("/filter/filter?type=data_by_service");
        // let json = [{device_names:[],data:'',data_show:''}]
        json = [];
        Object.entries(res[0]).forEach((data, index) => {
          data[1].device_unprocessed.forEach((doc) => {
            Object.entries(res[1]).forEach((device, key) => {
              if (device[1]["cate_service"] !== undefined) {
                Object.entries(device[1]["cate_service"]).forEach((cate) => {
                  Object.entries(cate[1]).forEach((cate_data) => {
                    if (cate_data[0].toLowerCase() == doc.toLowerCase()) {
                      if ((json[doc.toLowerCase()] ?? []).length > 0) {
                        if (
                          !json[doc.toLowerCase()].includes(
                            device[1].service_name
                          )
                        ) {
                          json[doc.toLowerCase()].push(device[1].service_name);
                        }
                      } else {
                        json[doc.toLowerCase()] = [doc, device[1].service_name];
                      }
                    }
                  });
                });
              }
            });
          });
        });
        Object.keys(json).forEach((key, index) => {
          table += `
                    <tr>
                      <td scope="row">${index + 1}</td>
                      <td>${json[key][0]}</td>
                      <td>${json[key].slice(1).join(",")}</td>
                    </tr>
                  `;
        });
        break;
      case "5":
        table = `
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Action</th>
                  <th scope="col">Device Data</th>
                  <th scope="col">Service Name</th>
                </tr>
              </thead>
                <tbody>
              `;
        res = await $.ajax("/filter/filter?type=data_by_service");
        json = [];
        let in_device_data = [];
        Object.entries(res[0]).forEach((data, index) => {
          data[1].device_unprocessed.forEach((doc) => {
            Object.entries(res[1]).forEach((device, key) => {
              if (device[1]["cate_service"] !== undefined) {
                Object.entries(device[1]["cate_service"]).forEach((cate) => {
                  Object.entries(cate[1]).forEach((cate_data) => {
                    if (cate_data[0].toLowerCase() == doc.toLowerCase()) {
                      if (
                        (
                          json[
                            cate_data[1].action.toLowerCase() +
                              "/" +
                              doc.toLowerCase()
                          ] ?? []
                        ).length > 0
                      ) {
                        if (
                          !json[
                            cate_data[1].action.toLowerCase() +
                              "/" +
                              doc.toLowerCase()
                          ].includes(device[1].service_name)
                        ) {
                          in_device_data.push(doc.toLowerCase());
                          json[
                            cate_data[1].action.toLowerCase() +
                              "/" +
                              doc.toLowerCase()
                          ].push(device[1].service_name);
                        }
                      } else {
                        in_device_data.push(doc.toLowerCase());
                        json[
                          cate_data[1].action.toLowerCase() +
                            "/" +
                            doc.toLowerCase()
                        ] = [cate_data[1].action, doc, device[1].service_name];
                      }
                    }
                  });
                });
              }
            });
          });
        });
        Object.entries(res[1]).forEach((device, key) => {
          if (device[1]["cate_service"] !== undefined) {
            Object.entries(device[1]["cate_service"]).forEach((cate) => {
              Object.entries(cate[1]).forEach((cate_data) => {
                if (!in_device_data.includes(cate_data[0].toLowerCase())) {
                  if (
                    (json[cate_data[1].action.toLowerCase()] ?? []).length > 0
                  ) {
                    if (
                      !json[cate_data[1].action.toLowerCase()].includes(
                        device[1].service_name
                      )
                    ) {
                      json[cate_data[1].action.toLowerCase()].push(
                        device[1].service_name
                      );
                    }
                  } else {
                    json[cate_data[1].action.toLowerCase()] = [
                      cate_data[1].action,
                      "",
                      device[1].service_name,
                    ];
                  }
                }
              });
            });
          }
        });
        Object.keys(json).forEach((key, index) => {
          console.log(json[key]);
          table += `
                      <tr>
                        <td scope="row">${index + 1}</td>
                        <td>${json[key][0]}</td>
                        <td>${json[key][1]}</td>
                        <td>${json[key].slice(2).join(",")}</td>
                      </tr>
                    `;
        });
        break;
    }
    table += `
          </tbody>
        </table>
        `;
    $("#show_type").empty().append(table);
  }
</script>
{# check device in session #} {# if found -> set value in form to device info in
session #}
<script>
  // get device in session from get /get_device
  $.ajax({
    url: "/device/get",
    type: "get",
    dataType: "json",
    contentType: "application/json",
    success: function (data) {
      // set device default value from session
      $(document).ready(function () {
        $("#device_name").val(data.device_name);
      });
    },
  });
</script>
{% endblock js %}{% block css %}
<style>
  /* height */
  .select2-container .select2-selection--single {
    height: 1.82vw; /* Set height */
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 1.82vw; /* Align text vertically */
  }
  .select2-container .select2-selection--single .select2-selection__arrow {
    height: 1.82vw; /* Set height of the dropdown arrow */
  }

  .text-label {
    font-weight: 800;
  }
  .is-invalid .select2-selection,
  .needs-validation ~ span > .select2-dropdown {
    border-color: red !important;
  }
</style>
{% include "css/card-header.html" ignore missing %} {% endblock css %}
