<!-- 
<style>
  footer {
    position: fixed; /* Or position: absolute; */
    bottom: 0;
    width: 100%; 
  } 
</style>
<footer class="bg-dark text-white mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p style="font-size:24px;">© 2024 Databank</p>
      </div>
    </div>
  </div>
</footer>
-->
<script>
  function showRemoveSession() {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#4B8B4C",
      cancelButtonColor: "#B41A1A",
      confirmButtonText: "Confirm",
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "{{url_for('session.clear_session')}}";
      }
    });
  }
</script>
