<!-- As a heading -->
<style>
  .right-button {
  position: absolute;
  right: 20px; /* Adjust spacing as needed */
  top: 10px;   /* Adjust spacing as needed */
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     style="padding-left: 50px">
  <a href="{{ url_for("main_page") }} " style='text-decoration: none;'>
    <p class="navbar-brand mb-0 h1">Databank</p>
  </a>
  {% if session.get("device") %}
    <a href="{{ url_for("device.form") }}">
      <button type="button" class="btn btn-outline-light" style="margin-left: 20px">Device</button>
    </a>
  {% endif %}
  {% if session.get("raw_data") %}
    <a href="{{ url_for("raw_data.form") }}">
      <button type="button" class="btn btn-outline-light" style="margin-left: 20px">Uprocessed Data</button>
    </a>
  {% endif %}
  {% if session.get("cate_service") %}
    <a href="{{ url_for("cate_service.form") }}">
      <button type="button" class="btn btn-outline-light" style="margin-left: 20px">Service Action and Category</button>
    </a>
  {% endif %}
  {% if session.get("service") %}
    <a href="{{ url_for("service.form") }}">
      <button type="button" class="btn btn-outline-light" style="margin-left: 20px">Service</button>
    </a>
  {% endif %}
  <a href="{{url_for("session.clear_session")}}">
    <button type="button" class="btn btn-outline-danger right-button">Clear Session</button>
  </a>
</nav>
