<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <div>{% include "main_sections/header.html" %}</div>
      {% block css %}
      {% endblock css %}
    {% endblock head %}
  </head>
  <body class="bg-light">
    {% block navigation %}
      <div>{% include "main_sections/navigation.html" %}</div>
    {% endblock navigation %}
    <div>
      {% block main %}
      {% endblock main %}
    </div>
    {% block footer %}
      <footer>
        {% include "main_sections/footer.html" %}
      </footer>
    {% endblock footer %}
  </body>
  {% block js %}
  {% endblock js %}
</html>
