{% extends "base.html" %} {% block main %}
<!-- <div class="container mt-5">
  <div class="card shadow rounded bg-dark mt-5">
    <div class="card-body text-center">
      <h5 class="card-title" style="color: white; font-size: 72px">Databank</h5>
    </div>
  </div>
</div>
<div class="container mt-5" style="margin-bottom: -20px">
  <div class="card shadow rounded mt-5" style="background-color: #137a63">
    <div class="card-body text-center">
      <h5 class="card-title" style="color: white; font-size: 48px">Device</h5>
    </div>
  </div>
</div> -->
<div class="screen">
  <div class="to-center" id="to_center">
    <div class="card card-show device">
      <div class="card-header position-relative">
        <div class="show-title">Device</div>
        <a href="javascript:void(0)" onclick="openAddModal()">
          <img
            src="{{ url_for('static', filename='icon/plus-icon.png' ) }}"
            alt="Uploaded Image"
            class="icon-header"
          />
        </a>
        <a href="javascript:void(0)" onclick="showDelete()">
          <img
            src="{{ url_for('static', filename='icon/delete-icon.png' ) }}"
            alt="Uploaded Image"
            class="icon-header-left delete-icon-show"
          />
        </a>
        <a href="javascript:void(0)" onclick="closeDelete()">
          <img
            src="{{ url_for('static', filename='icon/x-icon.png' ) }}"
            alt="Uploaded Image"
            class="icon-header-left x-icon-show d-none"
          />
        </a>
      </div>
        <div class="card-body">
          {% if not session.get("devices") %}
            <div class="text-center">You have 0 device.</div>
          {% else %}
            <div class="data-content">
              {# loop device key show in table#}
              {% if session.get("devices") %}
                {% for device_id in session.get("devices").keys() %}
                  <div class="card card-width card-item" data-device-id="{{device_id}}" onclick='showDataDetail(this,"{{ session.get("devices")[device_id] }}","{{device_id}}")'>
                    <div class="card-body body-height position-relative">
                      <div class="text-margin-top">Device Name: {{ session.get("devices")[device_id] ["device_name"] }}</div>
                      <div>Device Type: {{ session.get("devices")[device_id] ["device_type"] }}</div>
                      <div class="show-unprocess-data">
                        Unprocessed Data:
                        {% for un_data in  session.get("devices")[device_id]["device_unprocessed"][:-1] %}
                          {{ un_data }},
                        {% endfor %}
                        {{ session.get("devices")[device_id] ["device_unprocessed"] [-1] }}
                      </div>
                      <img
                        src="{{ url_for('static', filename='icon/edit-icon.png' ) }}"
                        alt="edit icon"
                        class="edit-icon"
                        onclick='showEditModal("{{device_id}}","{{session.get("devices")[device_id]}}")'
                      />
                      <a href="javascript:void(0)" onclick="closeAlert('{{device_id}}')">
                        <div class="box-animation">
                          <img
                            src="{{ url_for('static', filename='icon/delete-icon.png' ) }}"
                            alt="edit icon"
                            class="delete-icon d-none"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          {% endif %}
      </div>
    </div>
  </div>
  <div class="to-right d-none" id="show_data_detail">
    <div class="card card-show-right device">
      <div class="card-header position-relative">
        <div class="show-title">Device Name: <span id="name_title">test device</span></div>
        <a href="javascript:void(0)" onclick="backLeft()">
          <img
            src="{{ url_for('static', filename='icon/arrow-left.png' ) }}"
            alt="Uploaded Image"
            class="icon-header-left delete-icon-show"
          />
        </a>
      </div>
        <div class="card-body" id="show_detail_list">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Accordion Item #1
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            This is the content of the first accordion item.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            This is the content of the second accordion item.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            This is the content of the third accordion item.
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade device-modal"
  id="addModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header position-relative">
        <h5 class="modal-title">Add Device</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="device_form">
          <div class="row">
            <div class="col-md-12">
              <label for="device_name" class="d-flex"
                ><div class="text-label">Device Name</div>
                <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="device_name"
                placeholder="Enter device name"
                required
              />
            </div>
            <div class="d-none text-danger" id="same_name">this device name is already exist.</div>
            <div class="col-md-12 mt-1">
              <label for="device_type" class="d-flex"
                ><div class="text-label">Device Type</div>
                <span class="text-danger">*</span></label
              >
              <div class="select2-select">
                <select id="device_type" onchange="deviceTypeOther()" name="deviceType" class="form-control">
                  <!-- <option value="" selected disabled>Device Type</option> -->
                  {% for (index , _type_device) in
                  form_utils["device"]["type_device"]%}
                  <option value="{{ _type_device }}">{{ _type_device }}</option>
                  {% endfor %}
                  <option value="other">Other</option>
                </select>
                <div class="d-none col-12 mb-2 mt-2 d-flex" id="device_type_other_input">
                  <input
                    id="device_input_device_type"
                    type="text"
                    class="form-control me-2"
                    placeholder="Enter your device type"
                  />
                  <button type="button" class="btn btn-add" onclick="addNewType()" id="addOptionButton">
                    Add
                  </button>
                </div>
                <div class="d-none text-danger" id="type_duplicate">New device type is duplicate.</div>
              </div>
            </div>
            <div class="col-md-12 mt-1"></div>
              <label for="unprocessed_data" class="d-flex"
                ><div class="text-label">Unprocessed Data</div>
                <span class="text-danger">*</span></label
              >
              <div class="show-unprocess-data-list">
                <!-- <span class="badge badge-device mb-2">
                  <input type="hidden" name="unprocessData[]" id="unprocess_data_{}">
                  <span class="text-show">Color</span>
                  <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
                </span>
                <span class="badge badge-device mb-2">
                  <input type="hidden" name="unprocessData[]" id="unprocess_data_{}">
                  <span class="text-show">Temperature</span>
                  <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
                </span> -->
              </div>
              <div class="select2-select mt-2 me-2 d-flex">
                <select id="unprocessed_data" onchange="unprocessedDataOther()" class="form-control">
                  <!-- <option value="" selected disabled>Unprocessed Data</option> -->
                  {% for (index , _unprocessed_data) in
                  form_utils["device"]["unprocessed_data"]%}
                  <option value="{{ _unprocessed_data }}">
                    {{ _unprocessed_data }}
                  </option>
                  {% endfor %}
                  <option value="other">Other</option>
                </select>
                <button type="button" onclick="showAddUnprocessedData()" class="btn btn-device ms-2">
                  Add
                </button>
              </div>
              <div class="d-none col-12 mb-3 mt-2 d-flex" id="device_unprocessed_other_input">
                <input
                  id="device_input_unprocessed"
                  type="text"
                  class="form-control me-2"
                  placeholder="Enter your unprocessed data"
                />
                <button type="button" class="btn btn-add" onclick="addNewUnprocessedData()" id="device_upprocessed_data_add_button">
                  Add
                </button>
              </div>
              <div class="d-none text-danger" id="data_duplicate">New device unprocessed type is duplicate.</div>
              <div class="text-danger d-none" id="no_data">no unprocessed data</div>
              <div class="text-center mt-2">
                <button type="button" id="modal_add_btn" onclick="validation()" class="btn btn-add ms-2">
                  Add device
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main %} {% block js %}
<script>
  $(document).ready(function(){
    $.ajax("/session/get").then((doc) => {
      if (doc.tour == 1) {
        const driver = window.driver.js.driver;
        const driverObj = driver({
          showProgress: true,
          steps: [
            {
              element: ".device",
              popover: { title: "Device", description: "device section." },
            },
            {
              element: ".device .card-header img",
              popover: {
                title: "Device page",
                description: "go to device page.",
              },
            },
            {
              element: ".to-center .icon-header",
              popover: { 
                title: "Add device", 
                description: "open add device modal.",
                onNextClick: () => {
                  // .. load element dynamically
                  // .. and then call
                  $('#addModal').modal('show')
                  driverObj.moveNext();
                },
                onPrevClick:()=>{
                  window.location.href = "/?back=1";
                  driverObj.movePrevious();
                }
              },
            },
            {
              element: "#addModal .modal-dialog",
              popover: {
                title: "Device page",
                description: "go to device page.",
                onPrevClick:()=>{
                  $('#addModal').modal('hide')
                  driverObj.movePrevious();
                }
              },
            },
          ],
        });
        driverObj.drive(2);
      }
    });
    const url = window.location.href;
    const params = new URLSearchParams(window.location.search);
    $('.card-item').each((index,doc)=>{
      if($(doc).attr('data-device-id')== params.get('device_id')){
        $(doc).click();
        window.history.pushState({}, '', `${url.split('?')[0]}`);
      }
    })
  })
  $("#device_type").select2({
    width: "100%",
    dropdownParent: $("#addModal"),
  });
  $("#unprocessed_data").select2({
    width: "100%",
    dropdownParent: $("#addModal"),
  });
  function openAddModal() {
    $("#addModal").modal("show");
    $('#device_name').val('');
    let firstOptionValue = $('#device_type option:first').val();
    $('#device_type').val(firstOptionValue).trigger('change');
    firstOptionValue = $('#unprocessed_data option:first').val();
    $('#unprocessed_data').val(firstOptionValue).trigger('change');
    $('.show-unprocess-data-list').empty();
    $('.modal-title')[0].innerHTML = "Add Device";
    $('#modal_add_btn')[0].innerHTML = "Add Device";
    $('#modal_add_btn').attr('onclick','validation()');
    resetInvalid();
  }
  function resetInvalid(){
    $('#device_name').removeClass('is-invalid')
    $('#device_input_device_type').removeClass('is-invalid');
    $('#device_type').parent().find('span').removeClass('is-invalid');
    $('#device_input_unprocessed').removeClass('is-invalid');
    $('#no_data').addClass('d-none');
    $('#unprocessed_data').parent().find('span').removeClass('is-invalid');
    $('#same_name').addClass('d-none');
  }
  function showAddUnprocessedData(){
    let id = $("#unprocessed_data").val();
    if($('#unprocessed_data_'+id.replaceAll(" ","_")).length==0){
      $('.show-unprocess-data-list').append(`
        <span class="badge badge-device mb-2" id="unprocessed_data_${id.replaceAll(" ","_")}">
          <input type="hidden" name="unprocessData[]" value="${id}">
          <span class="text-show">${id}</span>
          <button type="button" onclick="deleteUnprocessedData(this)" class="btn-close btn-close-white" aria-label="Close"></button>
        </span>
      `)
    }
  }
  function deleteUnprocessedData(e){
    $(e).parent().remove();
  }
  async function validation(type = "add",id = "add"){
    var valid = true;
    if($('#device_name').val()){
      $('#device_name').removeClass('is-invalid')
    }else{
      valid = false;
      $('#device_name').addClass('is-invalid')
    }
    if($('#device_type').val()== "other"){
      valid = false;
      $('#device_type').parent().find('span').addClass('is-invalid');
      if($('#device_input_device_type').val()){
        $('#device_input_device_type').removeClass('is-invalid');
      }else{
        valid = false;
        $('#device_input_device_type').addClass('is-invalid');
      }
    }else{
      $('#device_type').parent().find('span').removeClass('is-invalid');
    }
    if($('#unprocessed_data').val() == "other"){
      valid=false
      $('#unprocessed_data').parent().find('span').addClass('is-invalid');
      if($('#device_input_unprocessed').val()){
        $('#device_input_unprocessed').removeClass('is-invalid');
      }else{
        valid = false;
        $('#device_input_unprocessed').addClass('is-invalid');
      }
    }else{
      $('#unprocessed_data').parent().find('span').removeClass('is-invalid');
      if($('input[name="unprocessData[]"]').length>0){
        $('#no_data').addClass('d-none');
        $('#unprocessed_data').parent().find('span').removeClass('is-invalid');
      }else{
        valid = false;
        $('#no_data').removeClass('d-none');
        $('#unprocessed_data').parent().find('span').addClass('is-invalid');
      }
    }
    let session_all = await $.ajax({
            url: "/session/get",
            type: "get",
            dataType: "json",
            contentType: "application/json",
    })
    let device_data = [];
    $('input[name="unprocessData[]"]').each((index,data)=>{
      device_data.push($(data).val());
    })
    device = {
      device_name:$('#device_name').val(),
      device_type:$('#device_type').val(),
      device_unprocessed: device_data,
      new_device: true
    }
    if(type == 'edit'){
      var device_name = [];
      for (_device_id in session_all["devices"]) {
        if (_device_id !== "{{form_utils['device_id']}}" && _device_id != id) {
          device_name.push(
            session_all["devices"][_device_id]["device_name"]
          );
        }
      }
      if (device_name.includes(device["device_name"])) {
        valid = false;
        $('#same_name').removeClass('d-none');
      }else{
        $('#same_name').addClass('d-none');
      }
    }else{
      var device_name = [];
      for (_device_id in session_all["devices"]) {
        device_name.push(session_all["devices"][_device_id]["device_name"]);
      }
      if (device_name.includes(device["device_name"])) {
        valid = false;
        $('#same_name').removeClass('d-none');
      }else{
        $('#same_name').addClass('d-none');
      }
    }
    if(valid){
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#4B8B4C",
        cancelButtonColor: "#B41A1A",
        confirmButtonText: "Confirm",
      }).then((result) => {
        if (result.isConfirmed) {
          if(type == 'edit'){
            device.new_device = false;
            $.ajax({
              url: "/device/update/"+id,
              type: "post",
              dataType: "json",
              contentType: "application/json",
              success: function () {
                window.location.href = "/device/device_page";
              },
              data: JSON.stringify(device),
            });
          }else{
            device.new_device = true;
            $.ajax({
              url: "/device/add",
              type: "post",
              dataType: "json",
              contentType: "application/json",
              success: function () {
                window.location.href = "/device/device_page";
              },
              data: JSON.stringify(device),
            });
          }
        }
      });
    }
  }
  function deviceTypeOther(){
    if($('#device_type').val()=="other"){
      $('#device_type_other_input').removeClass('d-none');
    }else{
      $('#device_type_other_input').addClass('d-none');
    }
  }
  function unprocessedDataOther(){
    if($('#unprocessed_data').val()=="other"){
      $('#device_unprocessed_other_input').removeClass('d-none');
    }else{
      $('#device_unprocessed_other_input').addClass('d-none');
    }
  }
  function checkDuplicate(selectId,data) {
    let select = document.getElementById(selectId);
    let optionValues = [];
    let hasDuplicates = false;

    for (let i = 0; i < select.options.length; i++) {
      let value = select.options[i].value;
      if (value.toUpperCase() == data.toUpperCase()) {
        hasDuplicates = true;
      } else {
        optionValues.push(value);
      }
    }

    return hasDuplicates;
  }
  function addNewType(){
    if($('#device_type').val() == "other"){
      let data = $('#device_input_device_type').val();
      let isDuplicate = checkDuplicate('device_type',data);
      if(isDuplicate){
        $('#type_duplicate').removeClass('d-none');
        $('#device_input_device_type').addClass('is-invalid');
      }else{
        $('#type_duplicate').addClass('d-none');
        $('#device_input_device_type').removeClass('is-invalid');
        if(data){
          $('#device_input_device_type').removeClass('is-invalid');
          $('#device_type').prepend(`<option value="${data}">${data}</option>`);
          $('#device_type').val(data).toggle('change');
          $('#device_input_device_type').val('');
          $('#device_type_other_input').addClass('d-none')
        }else{
          $('#device_input_device_type').addClass('is-invalid');
        }
      }
    }
  }
  function addNewUnprocessedData(){
    if($('#unprocessed_data').val() == "other"){
      let data = $('#device_input_unprocessed').val();
      let isDuplicate = checkDuplicate('unprocessed_data',data);
      if(isDuplicate){
        $('#data_duplicate').removeClass('d-none');
        $('#device_input_unprocessed').addClass('is-invalid');
      }else{
        $('#data_duplicate').addClass('d-none');
        $('#device_input_unprocessed').removeClass('is-invalid');
        if(data){
          $('#device_input_unprocessed').removeClass('is-invalid');
          $('#unprocessed_data').prepend(`<option value="${data}">${data}</option>`);
          $('#unprocessed_data').val(data).toggle('change');
          $('#device_input_unprocessed').val('');
          $('#device_unprocessed_other_input').addClass('d-none')
        }else{
          $('#device_input_unprocessed').addClass('is-invalid');
        }
      }
    }
  }
  function showDelete(){
    $('.box-animation').addClass('box-animation-forward');
    $('.box-animation').removeClass('box-animation-reverse');
    $('.box-animation img').removeClass('d-none');
    $('.delete-icon-show').addClass('d-none');
    $('.x-icon-show').removeClass('d-none');
  }
  function closeDelete(){
    $('.box-animation').addClass('box-animation-reverse');
    $('.box-animation').removeClass('box-animation-forward');
    $('.box-animation img').addClass('d-none');
    $('.delete-icon-show').removeClass('d-none');
    $('.x-icon-show').addClass('d-none');
  }
  function closeAlert(id){
    Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#4B8B4C",
        cancelButtonColor: "#B41A1A",
        confirmButtonText: "Confirm",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/device/delete/"+id;
        }
      })
      event.stopPropagation();
  }
  function showEditModal(id,data){
    let device = JSON.parse(data.replaceAll("'",'"'));
    $("#addModal").modal("show");
    $('#device_name').val(device['device_name']);
    $('#device_type').val(device['device_type']).trigger('change');
    firstOptionValue = $('#unprocessed_data option:first').val();
    $('#unprocessed_data').val(firstOptionValue).trigger('change');
    $('.show-unprocess-data-list').empty();
    device['device_unprocessed'].forEach((doc,key)=>{
      $('.show-unprocess-data-list').append(`
        <span class="badge badge-device mb-2" id="unprocessed_data_${doc.replaceAll(" ","_")}">
          <input type="hidden" name="unprocessData[]" value="${doc}">
          <span class="text-show">${doc}</span>
          <button type="button" onclick="deleteUnprocessedData(this)" class="btn-close btn-close-white" aria-label="Close"></button>
        </span>
      `);
    })
    $('.modal-title')[0].innerHTML = "Edit Device";
    $('#modal_add_btn')[0].innerHTML = "Edit Device";
    $('#modal_add_btn').attr('onclick','validation("edit",'+id+')');
    resetInvalid();
    event.stopPropagation();
  }
  async function showRawDataList(device_id,id,raw_data,type="add"){
    if($('#'+id)[0].innerHTML.trim()=='' || type=="new"){
      let res = await $.ajax("/raw_data/getData/"+device_id);
      let showData = "";
      Object.keys(res.raw_data).forEach((key)=>{
        if(key == raw_data){
          showData = res.raw_data[key];
        }
      })
      console.log(res);
      if(!showData){
        let html = `<div class="row">`;
        //sensitivity
        html +=`
          <div class="col-12">
          <label class="ms-2" for="raw_data_sensitivity_${ raw_data.replaceAll(' ','_') }">Sensitivity</label>
          <select class="form-select custom-select" id="raw_data_sensitivity_${ raw_data.replaceAll(' ','_') }" name="sensitivity_${ raw_data.replaceAll(' ','_') }">
        `;
        res['sensitivity'].forEach((doc)=>{
          html +=`
            <option value="${doc}">
              ${doc}
            </option>
          `;
        })
        html += `</select>`;
        //action
        html +=`
          <div class="col-12">
          <label class="ms-2" for="raw_data_action_${ raw_data.replaceAll(' ','_') }">Action</label>
          <select class="form-select custom-select" id="raw_data_action_${ raw_data.replaceAll(' ','_') }" name="action_${ raw_data.replaceAll(' ','_') }">
        `;
        res['action'].forEach((doc)=>{
          html +=`
            <option value="${doc}">
              ${doc}
            </option>
          `;
        })
        html += `</select>`;

        //frequency
        html +=`
          <div class="col-12">
          <label class="ms-2" for="raw_data_frequency_${ raw_data.replaceAll(' ','_') }">frequency</label>
          <select class="form-select custom-select" id="raw_data_frequency_${ raw_data.replaceAll(' ','_') }" name="frequency_${ raw_data.replaceAll(' ','_') }">
        `;
        res['frequency'].forEach((doc)=>{
          html +=`
            <option value="${doc}">
              ${doc}
            </option>
          `;
        })
        html += `</select>`;
        
        html += `<div class="col-12">
            <div class="text-center mt-3">
              <button type="button" onclick="validationData('${raw_data}','${id}','${device_id}')" class="btn btn-add ms-2">
                Add Data
              </button>
            </div>
          </div>`;
        html += `</div>`;
        html += `</div>`;
        $('#'+id).empty().append(html);
        $(`#raw_data_sensitivity_${ raw_data.replaceAll(' ','_') }`).select2({
          width: "100%",
          minimumResultsForSearch:-1,
        });
        $(`#raw_data_action_${ raw_data.replaceAll(' ','_') }`).select2({
          width: "100%",
          minimumResultsForSearch:-1,
        });
        $(`#raw_data_frequency_${ raw_data.replaceAll(' ','_') }`).select2({
          width: "100%",
          minimumResultsForSearch:-1,
        });
      }else{
        html = `
          <table style="width: 80%; border-collapse: collapse; margin: 20px auto;">
            <tr>
              <th style="text-align: center; padding: 8px; background-color: lightblue">Label</th>
              <th style="text-align: center; padding: 8px; background-color: lightblue">Value</th>
            </tr>
            <tr>
              <td style="padding: 8px;" class="text-center">Action</td>
              <td style="padding: 8px;" class="text-center">
                ${showData.sensitivity}
              </td>
            </tr>
            <tr>
              <td style="padding: 8px;" class="text-center">Frequency</td>
              <td style="padding: 8px;" class="text-center">
                ${showData.action}
              </td>
            </tr>
            <tr>
              <td style="padding: 8px;" class="text-center">Sensitivity</td>
              <td style="padding: 8px;" class="text-center">
                ${showData.frequency}
              </td>
            </tr>
          </table>
          <div class="col-12">
            <div class="text-center mt-3">
              <button type="button" onclick="showRawDataList('${device_id}','${id}','${raw_data}','edit')" class="btn btn-add ms-2">
                Edit Data
              </button>
            </div>
          </div>
        `;
        $('#'+id).empty().append(html);
      }
    }else if(type=="edit"){
      let res = await $.ajax("/raw_data/getData/"+device_id);
      let showData = "";
      Object.keys(res.raw_data).forEach((key)=>{
        if(key == raw_data){
          showData = res.raw_data[key];
        }
      })
      let html = `<div class="row">`;
      //sensitivity
      html +=`
        <div class="col-12">
        <label class="ms-2" for="raw_data_sensitivity_${ raw_data.replaceAll(' ','_') }">Sensitivity</label>
        <select class="form-select custom-select" id="raw_data_sensitivity_${ raw_data.replaceAll(' ','_') }" name="sensitivity_${ raw_data.replaceAll(' ','_') }">
      `;
      res['sensitivity'].forEach((doc)=>{
        html +=`
          <option value="${doc}" ${showData['sensitivity']==doc? 'selected':''}>
            ${doc}
          </option>
        `;
      })
      html += `</select>`;
      //action
      html +=`
        <div class="col-12">
        <label class="ms-2" for="raw_data_action_${ raw_data.replaceAll(' ','_') }">Action</label>
        <select class="form-select custom-select" id="raw_data_action_${ raw_data.replaceAll(' ','_') }" name="action_${ raw_data.replaceAll(' ','_') }">
      `;
      res['action'].forEach((doc)=>{
        html +=`
          <option value="${doc}" ${showData['action']==doc? 'selected':''}>
            ${doc}
          </option>
        `;
      })
      html += `</select>`;

      //frequency
      html +=`
        <div class="col-12">
        <label class="ms-2" for="raw_data_frequency_${ raw_data.replaceAll(' ','_') }">frequency</label>
        <select class="form-select custom-select" id="raw_data_frequency_${ raw_data.replaceAll(' ','_') }" name="frequency_${ raw_data.replaceAll(' ','_') }">
      `;
      res['frequency'].forEach((doc)=>{
        html +=`
          <option value="${doc}" ${showData['frequency']==doc? 'selected':''}>
            ${doc}
          </option>
        `;
      })
      html += `</select>`;
      
      html += `<div class="col-12">
          <div class="text-center mt-3">
            <button type="button" onclick="validationData('${raw_data}','${id}','${device_id}')" class="btn btn-add ms-2">
              Edit Data
            </button>
          </div>
        </div>`;
      html += `</div>`;
      html += `</div>`;
      $('#'+id).empty().append(html);
      $(`#raw_data_sensitivity_${ raw_data.replaceAll(' ','_') }`).select2({
        width: "100%",
        minimumResultsForSearch:-1,
      });
      $(`#raw_data_action_${ raw_data.replaceAll(' ','_') }`).select2({
        width: "100%",
        minimumResultsForSearch:-1,
      });
      $(`#raw_data_frequency_${ raw_data.replaceAll(' ','_') }`).select2({
        width: "100%",
        minimumResultsForSearch:-1,
      });
    }
  }
  async function validationData(raw_data,id,device_id){
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#4B8B4C",
      cancelButtonColor: "#B41A1A",
      confirmButtonText: "Confirm",
    }).then(async (result) => {
      if (result.isConfirmed) {
        let res = await $.ajax({
          url:'/raw_data/ajax/'+device_id,
          method:'POST',
          data:{
            "raw_data":raw_data,
            "sensitivity":$(`#raw_data_sensitivity_${ raw_data.replaceAll(' ',"_") }`).val(),
            "action":$(`#raw_data_action_${ raw_data.replaceAll(' ',"_") }`).val(),
            "frequency":$(`#raw_data_frequency_${ raw_data.replaceAll(' ',"_") }`).val(),
          }
        })
        showRawDataList(device_id,id,raw_data,type='new');
      }
    });
  }
  function showDataDetail(e,data,id){
    let device = JSON.parse(data.replaceAll("'",'"'));
    $('.card-item').each(async (index,data)=>{
      if(data == e){
        if(!$(data).hasClass('card-selected')){
          $(data).addClass('card-selected');
          $('#to_center').removeClass('to-center');
          $('#to_center').addClass('to-left');
          $(data).parent().parent().parent().addClass('card-show-left');
          $(data).parent().parent().parent().removeClass('card-show');
          $('#name_title')[0].innerHTML = device['device_name'];
          $('#show_data_detail').removeClass("d-none");
          $('#show_detail_list').empty();
          var html = '<div class="accordion" id="accordionExample">';
          device['device_unprocessed'].forEach((doc,key)=>{
            html += `
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading${doc.replaceAll(' ','_')+"_"+key+"_"+id}">
                    <button onclick="showRawDataList(${id},'show_add_data${doc.replaceAll(' ','_')+"_"+key+"_"+id}','${doc}')" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${doc.replaceAll(' ','_')+"_"+key+"_"+id}" aria-expanded="false" aria-controls="collapse${doc.replaceAll(' ','_')+"_"+key+"_"+id}">
                      ${doc}
                    </button>
                  </h2>
                  <div id="collapse${doc.replaceAll(' ','_')+"_"+key+"_"+id}" class="accordion-collapse collapse" aria-labelledby="heading${doc.replaceAll(' ','_')+"_"+key+"_"+id}" data-bs-parent="#accordionExample">
                    <div class="accordion-body" id="show_add_data${doc.replaceAll(' ','_')+"_"+key+"_"+id}">
                    </div>
                  </div>
                </div>`;
          })
          // <div class="row">
          //   <div class="col-12">
          //   </div>
          // </div>
          html += "</div>";
          $('#show_detail_list').append(html);
        }else{
          $(data).removeClass('card-selected');
          $('#to_center').addClass('to-center');
          $('#to_center').removeClass('to-left');
          $(data).parent().parent().parent().removeClass('card-show-left');
          $(data).parent().parent().parent().addClass('card-show');
          $('#show_data_detail').addClass("d-none");
        }
      }else{
        $(data).removeClass('card-selected');
      }
    })
  }
  function backLeft(){
    $('.card-item').each((index,data)=>{
      $(data).removeClass('card-selected');
      $('#to_center').addClass('to-center');
      $('#to_center').removeClass('to-left');
      $(data).parent().parent().parent().removeClass('card-show-left');
      $(data).parent().parent().parent().addClass('card-show');
      $('#show_data_detail').addClass("d-none");
    })
  }
</script>
{% endblock js %} {% block css %}
<style>
  /* animation */
  .box-animation{
    width: 0vw;
    height: 100%;
    background-color: var(--delete-color);
    position: absolute;
    top: 0%;
    right: 0%; 
    border-top-left-radius: 10px;
  }
  .box-animation-reverse{
      animation: expandWidthReverse 0.5s ease-in-out 1 forwards;
  }
  .box-animation-forward{
      animation: expandWidth 0.5s ease-in-out 1 forwards;
  }
  @keyframes expandWidth {
      0% {
          width: 0%; 
      }
      100% {
          width: 9%; 
      }
  }
  @keyframes expandWidthReverse {
      0% {
          width: 9%; 
      }
      100% {
          width: 0%; 
      }
  }
  
  /* end animation */
  .device .icon-header-left{
    width: 1.52vw;
    height: 1.52vw;
    position: absolute;
    left:3%;
    top:50%;
    transform: translateY(-50%);
  }
  /* button-add */
  .btn-add:hover{
    background-color:var(--add-color);
    border-color:var(--add-color);
    color:white;
  }
  .btn-add{
    background-color:var(--add-color);
    border-color:var(--add-color);
    color:white;
  }
  /* button-device */
  .btn-device{
    background-color:var(--device-color);
    border-color:var(--device-color);
    color:white;
  }
  .btn-device:hover{
    background-color:var(--device-color);
    border-color:var(--device-color);
    color:white;
  }

  .badge-device{
    font-size: 1.0vw;
    background-color:var(--device-color);
    border-color:var(--device-color);
    position: relative;
  }
  .badge-device .text-show{
    margin-right: 1vw;
    font-weight:500;
  }
  .badge-device button{
    width: 0.7vw !important;
    height: 0.7vw !important;;
    position:absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 0px !important;
  }
  .device-modal .modal-header {
    height: 4.17vw;
    font-size: 1.67vw;
    text-align: center;
    color: white;
  }
  .device-modal .modal-header {
    background-color: var(--device-color);
  }
  .service-modal .modal-header {
    background-color: var(--service-color);
  }
  .modal-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.67vw;
  }
  .btn-close {
    width: 1.2vw !important;
    height: 1.4vw !important;
    filter: brightness(0) invert(1);
    opacity: 1 !important;
    padding: 0px 2vw 0px 0px !important;
  }

  /* height */
  .select2-container .select2-selection--single {
    height: 1.82vw; /* Set height */
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 1.82vw; /* Align text vertically */
  }
  .select2-container .select2-selection--single .select2-selection__arrow {
    height: 1.82vw; /* Set height of the dropdown arrow */
  }

  .text-label {
    font-weight: 800;
  }
  .is-invalid .select2-selection,
  .needs-validation~span>.select2-dropdown {
      border-color: red !important;
  }

  /* body */
  /* .device .show-amount{
    text-align: center;
  } */
  .device .body-height{
    height: 4.8vw;
    width:100%;
    border-left: 1.21vw solid var(--device-color);
  }
  .device .card-width{
    width:90%;
  }
  .device .data-content{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .device .card-item:not(:first-child){
    margin-top:-1px;
  }
  .device .text-margin-top{
    margin-top:-0.45vw;
  }
  .device .edit-icon{
    position:absolute;
    top:50%;
    right:3%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .device .delete-icon{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .device .card-item{
    cursor:pointer;
  }
  .device .card-selected{
    filter: brightness(0.7);
  }
  .device .show-unprocess-data{
    white-space: nowrap;      
    overflow: hidden;        
    text-overflow: ellipsis;
  }
  .accordion-button:not(.collapsed){
    background-color: var(--device-color);
    color:white;
  }
  .accordion-button:not(.collapsed)::after{
    filter: brightness(0) invert(1);
  }
</style>
{% include "css/card-header.html" ignore missing %} {% endblock css %}
