{% extends "base.html" %}
{% block main %}
  <div class="container mt-5">
    <div class="card shadow rounded border-primary">
      <h1 class="text-center display-4 mb-4" style="margin-top: 20px">Databank</h1>
      {# form section #}
      <div>
        <!-- Devices-->
        <div id="device_part">{% include "page_sections/device_section.html" ignore missing %}</div>
        <br />
        <hr />
        <br />
        <!-- category and action raw data -->
        <div id="param_cate_raw_data_part">
          {% include "page_sections/raw_data_section.html" ignore missing %}
          <br />
          <hr />
          <br />
        </div>
        <!-- category and action services -->
        <div id="param_cate_service_part">{% include "page_sections/cate_service_section.html" ignore missing %}</div>
        <!-- Service-->
        <div id="service_part">
          <h1>service_part</h1>
        </div>
        <div class="container text-center">
          <button type="submit" class="btn btn-success" value="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
