{% extends "base.html" %}
{% block main %}
  <div class="container mt-5">
    <div class="card shadow rounded bg-dark mt-5">
      <div class="card-body text-center">
        <h5 class="card-title" style="color:white;font-size: 72px;">Databank</h5>
      </div>
    </div>
  </div>
  {# Device Part #}
  <div class="container mt-5" style="margin-bottom: -20px;">
    <div class="card shadow rounded mt-5" style="background-color:#137a63 ;">
      <div class="card-body text-center">
        <h5 class="card-title" style="color:white;font-size: 48px;">Device</h5>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <!-- Devices-->
    <div id="device_part">{% include "page_sections/device_section.html" ignore missing %}</div>
  </div>
  {# Service Part #}
  <div class="container mt-5" style="margin-bottom: -20px;">
    <div class="card shadow rounded mt-5" style="background-color:#f1c232 ;">
      <div class="card-body text-center">
        <h5 class="card-title" style="color:white;font-size: 48px;">Services</h5>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <!-- Service-->
    <div id="service_part">{% include "page_sections/service_section.html" %}</div>
  </div>
  {# for submit button #}
  {# {% if ("device" in session.keys()) and ("raw_data" in session.keys()) and ("cate_service" in session.keys()) and ("service" in session.keys()) %} #}
  <div class="container text-center">
    <a href="{{ url_for("graph.show_graph") }}">
      <button type="button" id="submit_button" class="btn btn-success" value="submit">
        Generate Graph
      </button>
    </a>
  </div>
  <br />
  {# {% endif %} #}
{% endblock main %}
{% block js %}
{% endblock js %}
{% block css %}
  <style>
      .image-container {
          max-width: fit-content;
          /* Adjust the maximum width as needed */
          max-height: fit-content;
          /* Adjust the maximum width as needed */
          overflow-x: auto;
          /* Enable horizontal scroll when the image exceeds */
      }

      .img-fluid {
          max-width: 100%;
          /* Make the image responsive within the container */
      }
  </style>
{% endblock css %}
