{% extends "base.html" %} {% block main %}
<div class="container mt-5">
  <div class="card shadow rounded bg-dark mt-5">
    <div class="card-body text-center">
      <h5 class="card-title" style="color: white; font-size: 72px">Databank</h5>
    </div>
  </div>
</div>
<div class="container mt-5" style="margin-bottom: -20px">
  <div class="card shadow rounded mt-5" style="background-color: #f1c232">
    <div class="card-body text-center">
      <h5 class="card-title" style="color: white; font-size: 48px">Services</h5>
    </div>
  </div>
</div>
<div class="container mt-5">
  <!-- Service-->
  <div id="service_part">
    {% include "page_sections/service_section.html" %}
  </div>
</div>
{% endblock main %}
