{% extends "base.html" %} {% block main %}
<!-- <div class="container mt-5">
    <div class="card shadow rounded bg-dark mt-5">
      <div class="card-body text-center">
        <h5 class="card-title" style="color:white;font-size: 72px;">Databank</h5>
      </div>
    </div>
  </div>
  <div class="container mt-5" style="margin-bottom: -20px;">
    <div class="card shadow rounded mt-5" style="background-color:#f1c232 ;">
      <div class="card-body text-center">
        <h5 class="card-title" style="color:white;font-size: 48px;">Services</h5>
      </div>
    </div>
  </div>-->
  <div class="screen">
    <div class="to-center" id="to_center">
      <div class="card card-show service">
        <div class="card-header position-relative">
          <div class="show-title">Service</div>
          <a href="javascript:void(0)" onclick="openAddModal()">
            <img
              src="{{ url_for('static', filename='icon/plus-icon.png' ) }}"
              alt="Uploaded Image"
              class="icon-header"
            />
          </a>
          <a href="javascript:void(0)" onclick="showDelete()">
            <img
              src="{{ url_for('static', filename='icon/delete-icon.png' ) }}"
              alt="Uploaded Image"
              class="icon-header-left delete-icon-show"
            />
          </a>
          <a href="javascript:void(0)" onclick="closeDelete()">
            <img
              src="{{ url_for('static', filename='icon/x-icon.png' ) }}"
              alt="Uploaded Image"
              class="icon-header-left x-icon-show d-none"
            />
          </a>
        </div>
          <div class="card-body">
            {% if not session.get("services") %}
            <div class="text-center">You have 0 service.</div>
          {% else %}
            <div class="data-content">
              {# loop service key show in table#}
              {% if session.get("services") %}
                {% for service_id in session.get("services").keys() %}
                  <div class="card card-width card-item" data-service-id="{{service_id}}" onclick='showDataDetail(this,"{{ session.get("services")[service_id] }}","{{service_id}}")'>
                    <div class="card-body body-height position-relative">
                      <div class="text-margin-top">Service Name: {{ session.get("services")[service_id] ["service_name"] }}</div>
                      <div>Service Type: {{ session.get("services")[service_id] ["service_type"] }}</div>
                      <img
                        src="{{ url_for('static', filename='icon/edit-icon.png' ) }}"
                        alt="edit icon"
                        class="edit-icon"
                        onclick='showEditModal("{{service_id}}","{{session.get("services")[service_id]}}")'
                      />
                      <a href="javascript:void(0)" onclick="closeAlert('{{service_id}}')">
                        <div class="box-animation">
                          <img
                            src="{{ url_for('static', filename='icon/delete-icon.png' ) }}"
                            alt="edit icon"
                            class="delete-icon d-none"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="to-right d-none" id="show_data_detail">
      <div class="card card-show-right service">
        <div class="card-header position-relative">
          <div class="show-title">Service Name: <span id="name_title">test service</span></div>
          <a href="javascript:void(0)" onclick="backLeft()">
            <img
              src="{{ url_for('static', filename='icon/arrow-left.png' ) }}"
              alt="Uploaded Image"
              class="icon-header-left delete-icon-show"
            />
          </a>
          <a href="javascript:void(0)" onclick="openAddServiceDetailModal()">
            <img
              src="{{ url_for('static', filename='icon/plus-icon.png' ) }}"
              alt="Uploaded Image"
              class="icon-service-left"
            />
          </a>
        </div>
          <div class="card-body" id="show_detail_list">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Accordion Item #1
                      </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          This is the content of the first accordion item.
                      </div>
                  </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Accordion Item #2
                      </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          This is the content of the second accordion item.
                      </div>
                  </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Accordion Item #3
                      </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          This is the content of the third accordion item.
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div
    class="modal fade service-modal"
    id="addModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header position-relative">
          <h5 class="modal-title">Add Service</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            onclick="showModalClose()"
          ></button>
        </div>
        <div class="modal-body">
          <form id="service_form">
            <input type="hidden" name="isTour" id="is_tour">
            <div class="row">
              <div class="col-md-12">
                <label for="service_name" class="d-flex"
                  ><div class="text-label">Service Name</div>
                  <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="service_name"
                  name="service_name"
                  placeholder="Enter service name"
                  required
                />
              </div>
              <div class="d-none text-danger" id="same_name">this service name is already exist.</div>
              <div class="col-md-12 mt-1">
                <label for="service_type" class="d-flex"
                  ><div class="text-label">Service Type</div>
                  <span class="text-danger">*</span></label
                >
                <div class="select2-select">
                  <select id="service_type" onchange="serviceTypeOther()" name="service_type" class="form-control">
                    {% for _service_type in service_type %}
                      <option value="{{ _service_type }}" {% if choose_service_type == _service_type %}selected{% endif %}>
                        {{ _service_type }}
                      </option>
                    {% endfor %}
                  </select>
                  <div class="d-none col-12 mb-2 mt-2 d-flex" id="service_type_other_input">
                    <input
                      id="service_input_service_type"
                      type="text"
                      class="form-control me-2"
                      placeholder="Enter your service type"
                    />
                    <button type="button" class="btn btn-add" onclick="addNewType()" id="addOptionButton">
                      Add
                    </button>
                  </div>
                </div>
              </div>
              <div class="text-center mt-2">
                <button type="button" id="modal_add_btn" onclick="validation()" class="btn btn-add ms-2">
                  Add service
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div
  class="modal fade service-modal"
  id="service_detail_modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header position-relative">
        <h5 class="modal-title">Add Service Detail</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          onclick="showModalClose()"
        ></button>
      </div>
      <div class="modal-body">
        <form id="service_form">
          <div class="row">
            <div class="col-md-12">
              <label for="cate_service_unprocessed" class="d-flex"
                ><div class="text-label">Device Data</div>
                <span class="text-danger">*</span></label
              >
              <div class="select2-select">
                <select id="device_data" name="device_data" class="form-control" onchange="showStoreData()">
                  <!-- {% if not choose_data %}
                      {% for _un_data in unprocessed_data %}<option value="{{ _un_data }}">{{ _un_data }}</option>{% endfor %}
                  {% else %}
                      <option value="{{ choose_data["data"]["unprocessed_data"] }}">{{ choose_data["data"]["unprocessed_data"] }}</option>
                  {% endif %} -->
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <label for="cate_service_unprocessed" class="d-flex"
                ><div class="text-label">Store Data</div>
                <span class="text-danger">*</span></label
              >
              <div class="select2-select">
                <select id="cate_service_unprocessed" onchange="serviceTypeOther()" name="cate_service_unprocessed" class="form-control">
                </select>
              </div>
              <div class="text-danger d-none" id="no_unporcessed_data">No data store.</div>
            </div>
            <div class="col-md-12 mt-1">
              <label for="cate_service_action" class="d-flex"
                ><div class="text-label">Action</div>
                <span class="text-danger">*</span></label
              >
              <div class="select2-select">
                <select id="cate_service_action" onchange="serviceTypeOther()" name="cate_service_action" class="form-control">
                </select>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <label for="cate_service_frequency" class="d-flex"
                ><div class="text-label">Frequency</div>
                <span class="text-danger">*</span></label
              >
              <div class="select2-select">
                <select id="cate_service_frequency" onchange="serviceTypeOther()" name="cate_service_frequency" class="form-control">
                </select>
              </div>
            </div>
            <div class="col-md-12 mt-1">
              <label for="cate_service_cate" class="d-flex"
                ><div class="text-label">Trust Level</div>
                <span class="text-danger">*</span></label
              >
              <div class="select2-select">
                <select id="cate_service_cate" onchange="serviceTypeOther()" name="cate_service_cate" class="form-control">
                </select>
              </div>
            </div>
            <div class="text-center mt-2">
              <button type="button" id="modal_add_btn" onclick="validationAddDetail()" class="btn btn-add ms-2">
                Add Service Detail
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
{% block js %}
<script>
  let service_id = 0;
  var driverObj;
  var isTour = 0;
  var device = JSON.parse("{{device}}".replaceAll('&#39;','"'));
  $(document).ready(function(){
    $('#cate_service_unprocessed').attr('disabled',true);
    const url = window.location.href;
    const params = new URLSearchParams(window.location.search);
    $('.card-item').each((index,doc)=>{
      if($(doc).attr('data-service-id')== params.get('service_id')){
        $(doc).click();
        if(!params.get('to')){
          window.history.pushState({}, '', `${url.split('?')[0]}`);
        }
      }
    })
    $.ajax({url:'/ajaxData'}).then((data)=>{
      let option = "";
      data.action.forEach((doc)=>{
        option +=`
          <option value="${doc}">${doc}</option>
        `
      })
      $('#cate_service_action').empty().append(option);
      option = "";
      data.frequency.forEach((doc)=>{
        option +=`
          <option value="${doc}">${doc}</option>
        `
      })
      $('#cate_service_frequency').empty().append(option);
      option = "";
      data.cate_service.forEach((doc)=>{
        option +=`
          <option value="${doc}">${doc}</option>
        `
      })
      $('#cate_service_cate').empty().append(option);
    })
    $.ajax("/session/get").then((doc) => {
      isTour = doc.tour;
      if (doc.tour == 1) {
        const driver = window.driver.js.driver;
        driverObj = driver({
          allowClose: false,
          showProgress: true,
          allowKeyboardControl:false,
          steps: [
            {
              element: ".device",
              popover: { title: "Device", description: "device section." },
            },
            {
              element: ".device .card-header img",
              popover: {
                title: "Device page",
                description: "go to device page.",
              },
            },
            {
              element: ".to-center .icon-header",
              popover: { 
                title: "Add device", 
                description: "open add device modal.",
                onNextClick: () => {
                  // .. load element dynamically
                  // .. and then call
                  $('#addModal').modal('show')
                  driverObj.moveNext();
                },
                onPrevClick:()=>{
                  window.location.href = "/?back=1";
                  driverObj.movePrevious();
                }
              },
            },
            {
              element: "#addModal .modal-dialog",
              popover: {
                title: "Device Modal",
                description: "Show add modal.",
                onPrevClick:()=>{
                  $('#addModal').modal('hide')
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  validation();
                },
              },
            },
            {
              element: ".swal2-confirm",
              popover: {
                title: "Confirm Add",
                description: "Confirm add new data.",
                onPrevClick: () => {
                  Swal.close();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $('.swal2-confirm').click();
                },
              },
            },
            {
              element: ".icon-header-left",
              popover: {
                title: "Delete section",
                description: "Show delete section.",
                onPrevClick: () => {
                  driverObj.drive(2);
                  $('#addModal').modal('show')
                  driverObj.moveNext();
                  validation();
                },
                onNextClick: () => {
                  showDelete();
                },
              },
            },
            {
              element: ".box-animation",
              popover: {
                title: "Delete section",
                description: "Show delete section.",
                side:"right",
                onPrevClick: () => {
                  closeDelete();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  closeDelete();
                  driverObj.moveNext();
                },
              },
            },
            {
              element: ".edit-icon",
              popover: {
                title: "Edit button",
                description: "Click to show edit Modal.",
                onPrevClick: () => {
                  showDelete();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
              },
            },
            {
              element: ".card-item",
              popover: {
                title: "Divice section",
                description: "Show device section.",
                onNextClick: () => {
                  $('.card-item:first-child').click();
                },
              },
            },
            {
              element: ".accordion-item:first-child",
              popover: {
                title: "Divice data detial",
                description: "Show device data detail section.",
                onPrevClick: () => {
                  $('.card-item:first-child').click();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $('.accordion-button').click();
                },
              },
            },
            {
              element: ".accordion-collapse",
              popover: {
                title: "Divice data section",
                description: "Show device data section.",
                onPrevClick: () => {
                  driverObj.movePrevious();
                  $('.accordion-collapse').removeClass('show');
                  $('.accordion-button').addClass('collapsed');
                },
              },
            },
            {
              element: ".accordion-item:first-child .btn-add",
              popover: {
                title: "Add/Edit divice data ",
                description: "Click to add/edit device data.",
                onNextClick: () => {
                  if($('.accordion-item:first-child .show-edit-accon').length>0){
                    $('.accordion-item:first-child .driver-active-element').click();
                  }else{
                    $('.accordion-item:first-child .driver-active-element').click();
                  }
                },
              },
            },
            {
              element: ".accordion-collapse",
              popover: {
                title: "Divice data section",
                description: "Show device data section.",
                onNextClick: () => {
                  $('.accordion-item:first-child .btn-add').click();
                },
              },
            },
            {
              element: ".swal2-confirm",
              popover: {
                title: "Confirm Add/Edit",
                description: "Confirm add/edit new data.",
                onPrevClick: () => {
                  Swal.close();
                  if($('.add-section').length > 0) {
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                  }else{
                    driverObj.movePrevious();
                  }
                },
                onNextClick: () => {
                  $('.swal2-confirm').click();
                  // driverObj.moveNext();
                },
              },
            },
            {
              element: ".service-navigator",
              popover: {
                title: "Service page",
                description: "Show Service page button.",
                onPrevClick: () => {
                  $('.accordion-item .btn-add').click();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  window.location.href = "{{ url_for('service.service_page') }}";
                  driverObj.moveNext();
                },
              },
            },
            //service
            {
              element: ".to-center .icon-header",
              popover: { 
                title: "Add service", 
                description: "open add service modal.",
                onNextClick: () => {
                  $('#addModal').modal('show')
                  driverObj.moveNext();
                },
                onPrevClick:()=>{
                  window.location.href = "/?back=1";
                  driverObj.movePrevious();
                }
              },
            },
            {
              element: "#addModal .modal-dialog",
              popover: {
                title: "Service Modal",
                description: "Show add service modal.",
                onPrevClick:()=>{
                  $('#addModal').modal('hide')
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  validation();
                },
              },
            },
            {
              element: ".swal2-confirm",
              popover: {
                title: "Confirm Add",
                description: "Confirm add new service.",
                onPrevClick: () => {
                  Swal.close();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $('.swal2-confirm').click();
                },
              },
            },
            {
              element: ".card-item",
              popover: {
                title: "Service section",
                description: "Show Service section.",
                onNextClick: () => {
                  $('.card-item:first-child').click();
                },
              },
            },
            {
              element: ".icon-service-left",
              popover: {
                title: "Service data",
                description: "Show Service data section.",
                onPrevClick: () => {
                  $('.card-item:first-child').click();
                  driverObj.movePrevious();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  openAddServiceDetailModal()
                },
              },
            },
            {
              element: "#service_detail_modal .modal-dialog",
              popover: {
                title: "Service data Modal",
                description: "Show add service data modal.",
                onPrevClick:()=>{
                  $('#service_detail_modal').modal('hide')
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  validationAddDetail();
                },
              },
            },
            {
              element: ".swal2-confirm",
              popover: {
                title: "Confirm Add",
                description: "Confirm add new service.",
                onPrevClick: () => {
                  Swal.close();
                  driverObj.movePrevious();
                },
                onNextClick: () => {
                  $('.swal2-confirm').click();
                },
              },
            },
            {
              element: ".accordion-item:first-child",
              popover: {
                title: "Service data detial",
                description: "Show Service data detail section.",
                onPrevClick: () => {
                },
                onNextClick: () => {
                  $('.accordion-button').click();
                },
              },
            },
            {
              element: ".accordion-collapse",
              popover: {
                title: "Divice data section",
                description: "Show device data section.",
                onPrevClick: () => {
                  driverObj.movePrevious();
                  $('.accordion-collapse').removeClass('show');
                  $('.accordion-button').addClass('collapsed');
                },
              },
            },
          ],
        });
        const url = window.location.href;
        const params = new URLSearchParams(window.location.search);
        if (params.get("to")) {
          // window.history.pushState({}, "", `${url.split("?")[0]}`);
          driverObj.drive(parseInt(params.get("to")));
        } else {
          driverObj.drive(15);
        }
      }
      $("#service_type").select2({
        width: "100%",
        dropdownParent: isTour?$("#addModal .modal-dialog"):$("#addModal"),
      });
      $("#unprocessed_data").select2({
        width: "100%",
        dropdownParent: isTour?$("#addModal .modal-dialog"):$("#addModal"),
      });
      $('#device_data').select2({
        width: "100%",
        dropdownParent: isTour?$("#service_detail_modal .modal-dialog"):$("#service_detail_modal"),
      });
      $('#cate_service_action').select2({
        width: "100%",
        dropdownParent: isTour?$("#service_detail_modal .modal-dialog"):$("#service_detail_modal"),
        minimumResultsForSearch: -1
      });
      $('#cate_service_frequency').select2({
        width: "100%",
        dropdownParent: isTour?$("#service_detail_modal .modal-dialog"):$("#service_detail_modal"),
        minimumResultsForSearch: -1
      });
      $('#cate_service_cate').select2({
        width: "100%",
        dropdownParent: isTour?$("#service_detail_modal .modal-dialog"):$("#service_detail_modal"),
        minimumResultsForSearch: -1
      });
    });
  })
  

  function validationAddDetail(){
    let valid = true;
    if($('#device_data').val()){
      $('#device_data').parent().find('span').removeClass('is-invalid');
    }else{
      valid = false;
      $('#device_data').parent().find('span').addClass('is-invalid');
    }
    if($('#cate_service_unprocessed').val()){
      $('#cate_service_unprocessed').parent().find('span').removeClass('is-invalid');
    }else{
      valid = false;
      $('#cate_service_unprocessed').parent().find('span').addClass('is-invalid');
    }
    if(valid){
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#4B8B4C",
        cancelButtonColor: "#B41A1A",
        confirmButtonText: "Confirm",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: '/form_edit_data/'+service_id+'/'+$('#device_data').val(),
            method:'POST',
            data:{
              "cate_service_action":$('#cate_service_action').val(),
              "cate_service_frequency":$('#cate_service_frequency').val(),
              "cate_service_cate":$('#cate_service_cate').val(),
              "cate_service_unprocessed":$('#cate_service_unprocessed').val()
            }
          }).then((doc)=>{
            window.location.href="/service/service_page?service_id="+service_id+"&to=22";
          })
        }
      });
      if(isTour){
        driverObj.moveNext();
      }
    }
  }
  function openAddModal() {
    if(isTour){
      driverObj.moveNext();
    }
    $("#addModal").modal("show");
    $('#service_name').val('');
    let firstOptionValue = $('#service_type option:first').val();
    $('#service_type').val(firstOptionValue).trigger('change');
    firstOptionValue = $('#unprocessed_data option:first').val();
    $('#unprocessed_data').val(firstOptionValue).trigger('change');
    $('.show-unprocess-data-list').empty();
    $('.modal-title')[0].innerHTML = "Add Service";
    $('#modal_add_btn')[0].innerHTML = "Add Service";
    $('#modal_add_btn').attr('onclick','validation()');
    resetInvalid();
  }
  function showStoreData(){
    let id = $('#device_data').val();
    $.ajax({url:'/raw_data/getData/'+id}).then((data)=>{
      if(data.is_raw_data){
        $('#cate_service_unprocessed').attr('disabled',false);
        $('#cate_service_unprocessed').parent().find('span').removeClass('is-invalid');
        $('#no_unporcessed_data').addClass('d-none');
        option = `<option value="" selected disabled>select store data</option>`;
        Object.keys(data.raw_data).forEach((key)=>{
          option +=`
            <option value="${key}">${key}</option>
          `
        })
        $('#cate_service_unprocessed').empty().append(option);
        $('#service_detail_modal').modal('show');
      }else{
        $('#cate_service_unprocessed').select2('destroy');
        $('#cate_service_unprocessed').attr('disabled',true);
        $('#cate_service_unprocessed').empty();
        $('#cate_service_unprocessed').parent().find('span').addClass('is-invalid');
        $('#no_unporcessed_data').removeClass('d-none');
      }
      $('#cate_service_unprocessed')
    })
    $('#cate_service_unprocessed').select2({
      width: "100%",
      dropdownParent: isTour?$("#service_detail_modal .modal-dialog"):$("#service_detail_modal"),
    });
  }
  function openAddServiceDetailModal(){
    $.ajax({url:'/raw_data/getAll'}).then((data)=>{
      if(data){
        option = `<option value="" selected disabled>select device</option>`;
        Object.keys(data).forEach((key)=>{
          option +=`
            <option value="${key}">${data[key].device_name}</option>
          `
        })
        $('#device_data').empty().append(option);
        $('#service_detail_modal').modal('show');
      }else{
        Swal.fire({
          title: "No Device.",
          // text: "You won't be able to revert this!",
          icon: "warning",
          // showCancelButton: true,
          confirmButtonColor: "#aaaaaa",
          // cancelButtonColor: "#B41A1A",
          confirmButtonText: "Close"
        })
      }
    })
    if(isTour){
      driverObj.moveNext();
    }
  }
  function resetInvalid(){
    $('#service_name').removeClass('is-invalid')
    $('#service_input_service_type').removeClass('is-invalid');
    $('#service_type').parent().find('span').removeClass('is-invalid');
    $('#service_input_unprocessed').removeClass('is-invalid');
    $('#no_data').addClass('d-none');
    $('#unprocessed_data').parent().find('span').removeClass('is-invalid');
    $('#same_name').addClass('d-none');
  }
  function showAddUnprocessedData(){
    let id = $("#unprocessed_data").val();
    if($('#unprocessed_data_'+id.replaceAll(" ","_")).length==0){
      $('.show-unprocess-data-list').append(`
        <span class="badge badge-service mb-2" id="unprocessed_data_${id.replaceAll(" ","_")}">
          <input type="hidden" name="unprocessData[]" value="${id}">
          <span class="text-show">${id}</span>
          <button type="button" onclick="deleteUnprocessedData(this)" class="btn-close btn-close-white" aria-label="Close"></button>
        </span>
      `)
    }
  }
  function deleteUnprocessedData(e){
    $(e).parent().remove();
  }
  async function validation(type = "add",id = "add"){
    var valid = true;
    if($('#service_name').val()){
      $('#service_name').removeClass('is-invalid')
    }else{
      valid = false;
      $('#service_name').addClass('is-invalid')
    }
    if($('#service_type').val()== "other"){
      valid = false;
      $('#service_type').parent().find('span').addClass('is-invalid');
      if($('#service_input_service_type').val()){
        $('#service_input_service_type').removeClass('is-invalid');
      }else{
        valid = false;
        $('#service_input_service_type').addClass('is-invalid');
      }
    }else{
      $('#service_type').parent().find('span').removeClass('is-invalid');
    }
    let session_all = await $.ajax({
            url: "/session/get",
            type: "get",
            dataType: "json",
            contentType: "application/json",
    })
    service = {
      service_name:$('#service_name').val(),
      service_type:$('#service_type').val(),
      new_service: true
    }
    if(valid){
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#4B8B4C",
        cancelButtonColor: "#B41A1A",
        confirmButtonText: "Confirm",
      }).then((result) => {
        if (result.isConfirmed) {
          if(type == 'edit'){
            service.new_service = false;
            $.ajax({
              url: "/service/form_edit/"+id,
              type: "post",
              dataType: "json",
              contentType: "application/json",
              success: function () {
                window.location.reload();
              },
              data: JSON.stringify(service),
            })
          }else{
            $('#is_tour').val(isTour?1:0);
            $('#service_form').attr('method', 'POST');
            $('#service_form').attr('action', '/service/form_add');
            $('#service_form').submit();
          }
        }
      });
      if(isTour){
        driverObj.moveNext();
      }
    }
  }
  function serviceTypeOther(){
    if($('#service_type').val()=="other"){
      $('#service_type_other_input').removeClass('d-none');
    }else{
      $('#service_type_other_input').addClass('d-none');
    }
  }
  function unprocessedDataOther(){
    if($('#unprocessed_data').val()=="other"){
      $('#service_unprocessed_other_input').removeClass('d-none');
    }else{
      $('#service_unprocessed_other_input').addClass('d-none');
    }
  }
  function checkDuplicate(selectId,data) {
    let select = document.getElementById(selectId);
    let optionValues = [];
    let hasDuplicates = false;

    for (let i = 0; i < select.options.length; i++) {
      let value = select.options[i].value;
      if (value.toUpperCase() == data.toUpperCase()) {
        hasDuplicates = true;
      } else {
        optionValues.push(value);
      }
    }

    return hasDuplicates;
  }
  function addNewType(){
    if($('#service_type').val() == "other"){
      let data = $('#service_input_service_type').val();
      let isDuplicate = checkDuplicate('service_type',data);
      if(isDuplicate){
        $('#type_duplicate').removeClass('d-none');
        $('#service_input_service_type').addClass('is-invalid');
      }else{
        $('#type_duplicate').addClass('d-none');
        $('#service_input_service_type').removeClass('is-invalid');
        if(data){
          $('#service_input_service_type').removeClass('is-invalid');
          $('#service_type').prepend(`<option value="${data}">${data}</option>`);
          $('#service_type').val(data).toggle('change');
          $('#service_input_service_type').val('');
          $('#service_type_other_input').addClass('d-none')
        }else{
          $('#service_input_service_type').addClass('is-invalid');
        }
      }
    }
  }
  function addNewUnprocessedData(){
    if($('#unprocessed_data').val() == "other"){
      let data = $('#service_input_unprocessed').val();
      let isDuplicate = checkDuplicate('unprocessed_data',data);
      if(isDuplicate){
        $('#data_duplicate').removeClass('d-none');
        $('#service_input_unprocessed').addClass('is-invalid');
      }else{
        $('#data_duplicate').addClass('d-none');
        $('#service_input_unprocessed').removeClass('is-invalid');
        if(data){
          $('#service_input_unprocessed').removeClass('is-invalid');
          $('#unprocessed_data').prepend(`<option value="${data}">${data}</option>`);
          $('#unprocessed_data').val(data).toggle('change');
          $('#service_input_unprocessed').val('');
          $('#service_unprocessed_other_input').addClass('d-none')
        }else{
          $('#service_input_unprocessed').addClass('is-invalid');
        }
      }
    }
  }
  function showDelete(){
    $('.box-animation').addClass('box-animation-forward');
    $('.box-animation').removeClass('box-animation-reverse');
    $('.box-animation img').removeClass('d-none');
    $('.delete-icon-show').addClass('d-none');
    $('.x-icon-show').removeClass('d-none');
  }
  function closeDelete(){
    $('.box-animation').addClass('box-animation-reverse');
    $('.box-animation').removeClass('box-animation-forward');
    $('.box-animation img').addClass('d-none');
    $('.delete-icon-show').removeClass('d-none');
    $('.x-icon-show').addClass('d-none');
  }
  function closeAlert(id){
    Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#4B8B4C",
        cancelButtonColor: "#B41A1A",
        confirmButtonText: "Confirm",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/service/delete/"+id;
        }
      })
      event.stopPropagation();
  }
  function showEditModal(id,data){
    let service = JSON.parse(data.replaceAll("'",'"'));
    service_id = id;
    $("#addModal").modal("show");
    $('#service_name').val(service['service_name']);
    $('#service_type').val(service['service_type']).trigger('change');
    firstOptionValue = $('#unprocessed_data option:first').val();
    $('.modal-title')[0].innerHTML = "Edit Service";
    $('#modal_add_btn')[0].innerHTML = "Edit Service";
    $('#modal_add_btn').attr('onclick','validation("edit",'+id+')');
    resetInvalid();
    event.stopPropagation();
  }
  async function showDeleteDetail(service_id,id,cat_data,device_id){
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#4B8B4C",
      cancelButtonColor: "#B41A1A",
      confirmButtonText: "Confirm",
    }).then(async (result) => {
      let res = await $.ajax({
        url:'/delete_unprocessed/'+service_id+'/'+device_id+'/'+cat_data,
        method:'get',
      })
      window.location.href="/service/service_page?service_id="+service_id;
    })
  }
  async function showRawDataList(device_id,id,cat_data,type="add"){
    let ser_id = id.split('_').reverse()[0];
    let res = await $.ajax({
      "url":"/ajaxGetData/"+ser_id+"/"+device_id,
      method:"POST",
      data:{
        cat_data:cat_data
      }
    });
    let showData = res.data; 
    if(type=="add"){
      html = `
        <table style="width: 80%; border-collapse: collapse; margin: 20px auto;">
          <tr>
            <th style="text-align: center; padding: 8px; background-color: lightblue">Label</th>
            <th style="text-align: center; padding: 8px; background-color: lightblue">Value</th>
          </tr>
          <tr>
            <td style="padding: 8px;" class="text-center">Action</td>
            <td style="padding: 8px;" class="text-center">
              ${showData.action}
            </td>
          </tr>
          <tr>
            <td style="padding: 8px;" class="text-center">Frequency</td>
            <td style="padding: 8px;" class="text-center">
              ${showData.frequency}
            </td>
          </tr>
          <tr>
            <td style="padding: 8px;" class="text-center">Category</td>
            <td style="padding: 8px;" class="text-center">
              ${showData.category}
            </td>
          </tr>
        </table>
        <div class="col-12">
          <div class="text-center mt-3">
            <button type="button" onclick="showRawDataList('${device_id}','${id}','${cat_data}','edit')" class="btn btn-add ms-2">
              Edit Data
            </button>
            <button type="button" onclick="showDeleteDetail('${ser_id}','${id}','${cat_data}',${device_id})" class="btn btn-cancel ms-2">
              Delete
            </button>
          </div>
        </div>
      `;
      $('#'+id).empty().append(html);
    }else if(type=="edit"){
      let html = `<div class="row">`;
      //sensitivity
      html +=`
        <div class="col-12">
        <label class="ms-2" for="cat_data_action_${ cat_data.replaceAll(' ','_') }">Action</label>
        <select class="form-select custom-select" id="cat_data_action_${ cat_data.replaceAll(' ','_') }" name="action_${ cat_data.replaceAll(' ','_') }">
      `;
      res['action'].forEach((doc)=>{
        html +=`
          <option value="${doc}" ${showData['action']==doc? 'selected':''}>
            ${doc}
          </option>
        `;
      })
      html += `</select>`;
      //action
      html +=`
        <div class="col-12">
        <label class="ms-2" for="cat_data_frequency_${ cat_data.replaceAll(' ','_') }">Frequency</label>
        <select class="form-select custom-select" id="cat_data_frequency_${ cat_data.replaceAll(' ','_') }" name="frequency_${ cat_data.replaceAll(' ','_') }">
      `;
      res['frequency'].forEach((doc)=>{
        html +=`
          <option value="${doc}" ${showData['frequency']==doc? 'selected':''}>
            ${doc}
          </option>
        `;
      })
      html += `</select>`;

      //frequency
      html +=`
        <div class="col-12">
        <label class="ms-2" for="cat_data_cate_service_${ cat_data.replaceAll(' ','_') }">Category</label>
        <select class="form-select custom-select" id="cat_data_cate_service_${ cat_data.replaceAll(' ','_') }" name="cate_service_${ cat_data.replaceAll(' ','_') }">
      `;
      res['cate_service'].forEach((doc)=>{
        html +=`
          <option value="${doc}" ${showData['cate_service']==doc? 'selected':''}>
            ${doc}
          </option>
        `;
      })
      html += `</select>`;
      
      html += `<div class="col-12">
          <div class="text-center mt-3">
            <button type="button" onclick="validationData('${cat_data}','${id}','${ser_id}','${device_id}')" class="btn btn-add ms-2">
              Edit Data
            </button>
          </div>
        </div>`;
      html += `</div>`;
      html += `</div>`;
      $('#'+id).empty().append(html);
      $(`#cat_data_action_${ cat_data.replaceAll(' ','_') }`).select2({
        width: "100%",
        minimumResultsForSearch:-1,
      });
      $(`#cat_data_frequency_${ cat_data.replaceAll(' ','_') }`).select2({
        width: "100%",
        minimumResultsForSearch:-1,
      });
      $(`#cat_data_cate_service_${ cat_data.replaceAll(' ','_') }`).select2({
        width: "100%",
        minimumResultsForSearch:-1,
      });
    }
    if(isTour){
      driverObj.moveNext();
    }
  }
  async function validationData(cat_data,id,service_id,device_id){
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#4B8B4C",
      cancelButtonColor: "#B41A1A",
      confirmButtonText: "Confirm",
    }).then(async (result) => {
      if (result.isConfirmed) {
        let res = await $.ajax({
          url:'/ajaxEdit/'+service_id+'/'+device_id,
          method:'POST',
          data:{
            "cat_data":cat_data,
            "action":$(`#cat_data_action_${ cat_data.replaceAll(' ','_') }`).val(),
            "frequency":$(`#cat_data_frequency_${ cat_data.replaceAll(' ','_') }`).val(),
            "category":$(`#cat_data_cate_service_${ cat_data.replaceAll(' ','_') }`).val(),
          }
        })
        showRawDataList(device_id,id,cat_data,type='add');
      }
    });
  }
  function showDataDetail(e,data,id){
    let service = JSON.parse(data.replaceAll("'",'"'));
    $('.card-item').each(async (index,data)=>{
      if(data == e){
        if(!$(data).hasClass('card-selected')){
          service_id = id;
          $(data).addClass('card-selected');
          $('#to_center').removeClass('to-center');
          $('#to_center').addClass('to-left');
          $(data).parent().parent().parent().addClass('card-show-left');
          $(data).parent().parent().parent().removeClass('card-show');
          $('#name_title')[0].innerHTML = service['service_name'];
          $('#show_data_detail').removeClass("d-none");
          $('#show_detail_list').empty();
          var html = '<div class="accordion" id="accordionExample">';
          if (service.hasOwnProperty('cate_service')) {
            let cate_service = service['cate_service'];
            Object.keys(cate_service).forEach((device_id)=>{
              Object.keys(cate_service[device_id]).forEach((doc)=>{
                html += `
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading${doc.replaceAll(' ','_')+"_"+device_id+"_"+id}">
                        <button onclick="showRawDataList(${device_id},'show_add_data${doc.replaceAll(' ','_')+"_"+device_id+"_"+id}','${doc}')" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${doc.replaceAll(' ','_')+"_"+device_id+"_"+id}" aria-expanded="false" aria-controls="collapse${doc.replaceAll(' ','_')+"_"+device_id+"_"+id}">
                          Device name: ${device[device_id]['device_name']}, Device data: ${doc}
                        </button>
                      </h2>
                      <div id="collapse${doc.replaceAll(' ','_')+"_"+device_id+"_"+id}" class="accordion-collapse collapse" aria-labelledby="heading${doc.replaceAll(' ','_')+"_"+device_id+"_"+id}" data-bs-parent="#accordionExample">
                        <div class="accordion-body" id="show_add_data${doc.replaceAll(' ','_')+"_"+device_id+"_"+id}">
                        </div>
                      </div>
                    </div>`;
              })
            })
          }
          
          html += "</div>";
          $('#show_detail_list').append(html);
        }else{
          $(data).removeClass('card-selected');
          $('#to_center').addClass('to-center');
          $('#to_center').removeClass('to-left');
          $(data).parent().parent().parent().removeClass('card-show-left');
          $(data).parent().parent().parent().addClass('card-show');
          $('#show_data_detail').addClass("d-none");
        }
      }else{
        $(data).removeClass('card-selected');
      }
    })
    if(isTour){
      driverObj.moveNext();
    }
  }
  function backLeft(){
    $('.card-item').each((index,data)=>{
      $(data).removeClass('card-selected');
      $('#to_center').addClass('to-center');
      $('#to_center').removeClass('to-left');
      $(data).parent().parent().parent().removeClass('card-show-left');
      $(data).parent().parent().parent().addClass('card-show');
      $('#show_data_detail').addClass("d-none");
    })
  }
  function showModalClose(){
    if(isTour){
      driverObj.movePrevious();
    }
  }
</script>
{% endblock js %} {% block css %}
<style>
  /* animation */
  .box-animation{
    width: 0vw;
    height: 100%;
    background-color: var(--delete-color);
    position: absolute;
    top: 0%;
    right: 0%; 
    border-top-left-radius: 10px;
  }
  .box-animation-reverse{
      animation: expandWidthReverse 0.5s ease-in-out 1 forwards;
  }
  .box-animation-forward{
      animation: expandWidth 0.5s ease-in-out 1 forwards;
  }
  @keyframes expandWidth {
      0% {
          width: 0%; 
      }
      100% {
          width: 9%; 
      }
  }
  @keyframes expandWidthReverse {
      0% {
          width: 9%; 
      }
      100% {
          width: 0%; 
      }
  }
  
  /* end animation */
  .service .icon-header-left{
    width: 1.52vw;
    height: 1.52vw;
    position: absolute;
    left:3%;
    top:50%;
    transform: translateY(-50%);
  }
  /* button-add */
  .btn-add:hover{
    background-color:var(--add-color);
    border-color:var(--add-color);
    color:white;
  }
  .btn-add{
    background-color:var(--add-color);
    border-color:var(--add-color);
    color:white;
  }
  /* button-service */
  .btn-service{
    background-color:var(--service-color);
    border-color:var(--service-color);
    color:white;
  }
  .btn-service:hover{
    background-color:var(--service-color);
    border-color:var(--service-color);
    color:white;
  }

  .badge-service{
    font-size: 1.0vw;
    background-color:var(--service-color);
    border-color:var(--service-color);
    position: relative;
  }
  .badge-service .text-show{
    margin-right: 1vw;
    font-weight:500;
  }
  .badge-service button{
    width: 0.7vw !important;
    height: 0.7vw !important;;
    position:absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 0px !important;
  }
  .service-modal .modal-header {
    height: 4.17vw;
    font-size: 1.67vw;
    text-align: center;
    color: white;
  }
  .service-modal .modal-header {
    background-color: var(--service-color);
  }
  .service-modal .modal-header {
    background-color: var(--service-color);
  }
  .modal-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.67vw;
  }
  .btn-close {
    width: 1.2vw !important;
    height: 1.4vw !important;
    filter: brightness(0) invert(1);
    opacity: 1 !important;
    padding: 0px 2vw 0px 0px !important;
  }

  /* height */
  .select2-container .select2-selection--single {
    height: 1.82vw; /* Set height */
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 1.82vw; /* Align text vertically */
  }
  .select2-container .select2-selection--single .select2-selection__arrow {
    height: 1.82vw; /* Set height of the dropdown arrow */
  }

  .text-label {
    font-weight: 800;
  }
  .is-invalid .select2-selection,
  .needs-validation~span>.select2-dropdown {
      border-color: red !important;
  }

  /* body */
  /* .service .show-amount{
    text-align: center;
  } */
  .service .body-height{
    height: 4.8vw;
    width:100%;
    border-left: 1.21vw solid var(--service-color);
  }
  .service .card-width{
    width:90%;
  }
  .service .data-content{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .service .card-item:not(:first-child){
    margin-top:-1px;
  }
  .service .text-margin-top{
    margin-top:0.25vw;
  }
  .service .edit-icon{
    position:absolute;
    top:50%;
    right:3%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .service .delete-icon{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .service .card-item{
    cursor:pointer;
  }
  .service .card-selected{
    filter: brightness(0.7);
  }
  .service .show-unprocess-data{
    white-space: nowrap;      
    overflow: hidden;        
    text-overflow: ellipsis;
  }
  .service .icon-service-left{

    position:absolute;
    right:3%;
    top:50%;
    transform: translateY(-50%);
  }
  .accordion-button:not(.collapsed){
    background-color: var(--service-color);
    color:white;
  }
  .accordion-button:not(.collapsed)::after{
    filter: brightness(0) invert(1);
  }
  .btn-cancel{
    background-color: var(--delete-color);
    border-color: var(--delete-color);
    color:white
  }
  .btn-cancel:hover{
    background-color: white;
    border-color: var(--delete-color);
    color:var(--delete-color)
  }
</style>
{% include "css/card-header.html" ignore missing %} {% endblock css %}
