{% extends "base.html" %} {% block css %}
<style>
  .container {
    width: 100vw;
    height: 100vh;
    overflow-x: auto; 
    overflow-y: hidden; 
    /* white-space: nowrap;  */
    padding-left: 0px !important;
    margin:0px;
  }
  /* .container img {
    max-width: 100vw;
    height: auto;
  } */
  #show_iframe{
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    border: none;
  }
</style>
{% endblock %} {% block main %}
<!-- <div class="container d-flex align-items-center justify-content-center overflow-x"> -->
  <!-- Embed the Dash app using an iframe -->
  <!-- <iframe
    id="show_iframe"
    src="https://88.222.244.91:8050/"
    style="width: 100vw; height: 50vw; border: none"
  ></iframe> -->
  <iframe
    id="show_iframe"
    src="http://88.222.244.91:8050/"
  ></iframe>
  <!-- <div class="form-group" style="margin-bottom:50px">
    <label for="device_name">Type</label>
    <div class="d-flex show-select">
      <select
        class="form-select custom-select"
        id="type_show"
        onchange="showSelectDevice()"
      >
        <option value="" selected disabled>Select Device</option>
        <option value="1">All</option>
        <option value="guage">guage</option>
        <option value="smart_tv_haha">Smart TV haha</option>
        <option value="apple_watch">apple watch</option>
      </select>
    </div>
  </div> -->
  {% endblock main %} {% block js %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    var driverObj;
    var isTour = 0;
    var windowWidth = window.innerWidth;
    var data = {
          "data":JSON.parse('{{session}}'.replaceAll("&#39;","\"")),
          "screenWidth": windowWidth
        };
    console.log(data);
    $.ajax({
        // url: 'http://127.0.0.1:8050/webhook',
        url: 'http://88.222.244.91:8050/webhook',
        method: 'POST',
        data:JSON.stringify(data),
        contentType: 'application/json',
      }).then((res)=>{
        console.log(res);
      });
    $(document).ready(function () {
      $.ajax("/session/get").then((doc) => {
        isTour = doc.tour;
        if (doc.tour == 1) {
          const driver = window.driver.js.driver;
          driverObj = driver({
            allowClose: false,
            showProgress: true,
            allowKeyboardControl: false,
            steps: [
              {
                element: ".device",
                popover: { title: "Device", description: "device section." },
              },
              {
                element: ".device .card-header img",
                popover: {
                  title: "Device page",
                  description: "go to device page.",
                },
              },
              {
                element: ".to-center .icon-header",
                popover: {
                  title: "Add device",
                  description: "open add device modal.",
                  onNextClick: () => {
                    // .. load element dynamically
                    // .. and then call
                    $("#addModal").modal("show");
                    driverObj.moveNext();
                  },
                  onPrevClick: () => {
                    window.location.href = "/?back=1";
                    driverObj.movePrevious();
                  },
                },
              },
              {
                element: "#addModal .modal-dialog",
                popover: {
                  title: "Device Modal",
                  description: "Show add modal.",
                  onPrevClick: () => {
                    $("#addModal").modal("hide");
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    validation();
                  },
                },
              },
              {
                element: ".swal2-confirm",
                popover: {
                  title: "Confirm Add",
                  description: "Confirm add new data.",
                  onPrevClick: () => {
                    Swal.close();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    $(".swal2-confirm").click();
                  },
                },
              },
              {
                element: ".icon-header-left",
                popover: {
                  title: "Delete section",
                  description: "Show delete section.",
                  onPrevClick: () => {
                    driverObj.drive(2);
                    $("#addModal").modal("show");
                    driverObj.moveNext();
                    validation();
                  },
                  onNextClick: () => {
                    showDelete();
                  },
                },
              },
              {
                element: ".box-animation",
                popover: {
                  title: "Delete section",
                  description: "Show delete section.",
                  side: "right",
                  onPrevClick: () => {
                    closeDelete();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    closeDelete();
                    driverObj.moveNext();
                  },
                },
              },
              {
                element: ".edit-icon",
                popover: {
                  title: "Edit button",
                  description: "Click to show edit Modal.",
                  onPrevClick: () => {
                    showDelete();
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                  },
                },
              },
              {
                element: ".card-item",
                popover: {
                  title: "Divice section",
                  description: "Show device section.",
                  onNextClick: () => {
                    $(".card-item:first-child").click();
                  },
                },
              },
              {
                element: ".accordion-item:first-child",
                popover: {
                  title: "Divice data detail",
                  description: "Show device data detail section.",
                  onPrevClick: () => {
                    $(".card-item:first-child").click();
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    $(".accordion-button").click();
                  },
                },
              },
              {
                element: ".accordion-collapse",
                popover: {
                  title: "Divice data section",
                  description: "Show device data section.",
                  onPrevClick: () => {
                    driverObj.movePrevious();
                    $(".accordion-collapse").removeClass("show");
                    $(".accordion-button").addClass("collapsed");
                  },
                },
              },
              {
                element: ".accordion-item:first-child .btn-add",
                popover: {
                  title: "Add/Edit divice data ",
                  description: "Click to add/edit device data.",
                  onNextClick: () => {
                    if (
                      $(".accordion-item:first-child .show-edit-accon").length >
                      0
                    ) {
                      $(
                        ".accordion-item:first-child .driver-active-element"
                      ).click();
                    } else {
                      $(
                        ".accordion-item:first-child .driver-active-element"
                      ).click();
                    }
                  },
                },
              },
              {
                element: ".accordion-collapse",
                popover: {
                  title: "Divice data section",
                  description: "Show device data section.",
                  onNextClick: () => {
                    $(".accordion-item:first-child .btn-add").click();
                  },
                },
              },
              {
                element: ".swal2-confirm",
                popover: {
                  title: "Confirm Add/Edit",
                  description: "Confirm add/edit new data.",
                  onPrevClick: () => {
                    Swal.close();
                    if ($(".add-section").length > 0) {
                      driverObj.movePrevious();
                      driverObj.movePrevious();
                    } else {
                      driverObj.movePrevious();
                    }
                  },
                  onNextClick: () => {
                    $(".swal2-confirm").click();
                    // driverObj.moveNext();
                  },
                },
              },
              {
                element: ".service-navigator",
                popover: {
                  title: "Service page",
                  description: "Show Service page button.",
                  onPrevClick: () => {
                    $(".accordion-item .btn-add").click();
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    window.location.href =
                      "{{ url_for('service.service_page') }}";
                    driverObj.moveNext();
                  },
                },
              },
              //service
              {
                element: ".to-center .icon-header",
                popover: {
                  title: "Add service",
                  description: "open add service modal.",
                  onNextClick: () => {
                    $("#addModal").modal("show");
                    driverObj.moveNext();
                  },
                  onPrevClick: () => {
                    window.location.href = "/?back=1";
                    driverObj.movePrevious();
                  },
                },
              },
              {
                element: "#addModal .modal-dialog",
                popover: {
                  title: "Service Modal",
                  description: "Show add service modal.",
                  onPrevClick: () => {
                    $("#addModal").modal("hide");
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    validation();
                  },
                },
              },
              {
                element: ".swal2-confirm",
                popover: {
                  title: "Confirm Add",
                  description: "Confirm add new service.",
                  onPrevClick: () => {
                    Swal.close();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    $(".swal2-confirm").click();
                  },
                },
              },
              {
                element: ".card-item",
                popover: {
                  title: "Service section",
                  description: "Show Service section.",
                  onPrevClick: () => {
                    $("#addModal").modal("show");
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    $(".card-item:first-child").click();
                  },
                },
              },
              {
                element: ".icon-service-left",
                popover: {
                  title: "Service data",
                  description: "Show Service data section.",
                  onPrevClick: () => {
                    $(".card-item:first-child").click();
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    openAddServiceDetailModal();
                  },
                },
              },
              {
                element: "#service_detail_modal .modal-dialog",
                popover: {
                  title: "Service data Modal",
                  description: "Show add service data modal.",
                  onPrevClick: () => {},
                  onNextClick: () => {
                    validationAddDetail();
                  },
                },
              },
              {
                element: ".swal2-confirm",
                popover: {
                  title: "Confirm Add",
                  description: "Confirm add new service.",
                  onPrevClick: () => {
                    Swal.close();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    $(".swal2-confirm").click();
                  },
                },
              },
              {
                element: ".accordion-item:first-child",
                popover: {
                  title: "Service data detail",
                  description: "Show Service data detail section.",
                  onPrevClick: () => {
                    openAddServiceDetailModal();
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    $(".accordion-button").click();
                  },
                },
              },
              {
                element: ".accordion-collapse",
                popover: {
                  title: "Divice data section",
                  description: "Show device data section.",
                  onPrevClick: () => {
                    driverObj.movePrevious();
                    $(".accordion-collapse").removeClass("show");
                    $(".accordion-button").addClass("collapsed");
                  },
                },
              },
              {
                element: ".btn-add",
                popover: {
                  title: "Edit button",
                  description: "Show Edit button.",
                  onNextClick: () => {
                    $(".driver-active-element").click();
                  },
                },
              },
              {
                element: ".accordion-collapse",
                popover: {
                  title: "Service edit data",
                  description: "Show Service edit data section.",
                  onPrevClick: () => {
                    driverObj.drive(21);
                    $(".accordion-collapse").removeClass("show");
                    $(".accordion-button").addClass("collapsed");
                    $(".accordion-button").click();
                    driverObj.moveNext();
                  },
                },
              },
              {
                element: ".btn-add",
                popover: {
                  title: "Edit button",
                  description: "Show Edit button.",
                  onNextClick: () => {
                    $(".driver-active-element").click();
                  },
                },
              },
              {
                element: ".swal2-confirm",
                popover: {
                  title: "Confirm Edit",
                  description: "Confirm edit service detail.",
                  onPrevClick: () => {
                    Swal.close();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    $(".swal2-confirm").click();
                  },
                },
              },
              {
                element: ".btn-cancel",
                popover: {
                  title: "Delete button",
                  description: "Show delete button.",
                  onPrevClick: () => {
                    driverObj.movePrevious();
                    driverObj.movePrevious();
                    $(".btn-add").click();
                    driverObj.movePrevious();
                  },
                  onNextClick: () => {
                    $(".driver-active-element").click();
                  },
                },
              },
              {
                element: ".filter-btn",
                popover: {
                  title: "Filter section",
                  description: "show filter page.",
                  onNextClick: () => {
                    $(".driver-active-element").click();
                  },
                },
              },
              //filter
              {
                element: ".container",
                popover: {
                  title: "Filter section",
                  description: "show filter page.",
                  onPrevClick: () => {
                    window.location.href =
                      "/service/service_page?service_id=0&to=29";
                  },
                },
              },
              {
                element: ".btn-analysis",
                popover: {
                  title: "Analysis section",
                  description: "show analysis page.",
                  onNextClick: () => {
                    $(".driver-active-element").click();
                  },
                },
              },
              //analysis
              {
                element: ".container",
                popover: {
                  title: "Analysis graph",
                  description: "show analysis graph.",
                  onPrevClick: () => {
                    window.location.href = "/filter/show_data?to=31";
                  },
                  onNextClick: () => {
                    driverObj.moveNext();
                  },
                },
              },
              {
                element: ".show-log-out",
                popover: {
                  title: "Logout",
                  description: "show Logout button.",
                  onNextClick: () => {
                    $.ajax({ url: "/session/setDone", method: "POST" }).then(
                      (doc) => {
                        window.location.reload();
                        driverObj.moveNext();
                      }
                    );
                  },
                },
              },
            ],
          });
          driverObj.drive(32);
        }
      });
    });
    function showSelectDevice(){
      data = {
        "devices": {
            "0": {
                "device_name": "Gauge",
                "device_type": "Security Camera",
                "device_unprocessed": ["Footage", "Energy usage"],
                "raw_data": {
                    "Footage": {
                        "action": "Average",
                        "frequency": "Daily",
                        "sensitivity": "Low",
                    },
                    "Energy usage": {
                        "action": "Average",
                        "frequency": "Daily",
                        "sensitivity": "High",
                    }, 
                },
            },
            "1": {
                "device_name": "Smart TV haha",
                "device_type": "Security Camera",
                "device_unprocessed": ["Energy usage", "Temperature", "Activity period"],
                "raw_data": {
                    "Activity period": {
                        "action": "Anonymise",
                        "frequency": "Yearly",
                        "sensitivity": "High",
                    },
                    "Energy usage": {
                        "action": "Average",
                        "frequency": "Daily",
                        "sensitivity": "Low",
                    },
                    "Temperature": {
                        "action": "Anonymise",
                        "frequency": "Weekly",
                        "sensitivity": "Medium",
                    },
                },
            },
            "2": {
                "device_name": "apple watch",
                "device_type": "Light",
                "device_unprocessed": ["Activity period", "Temperature", "Notification"],
                "raw_data": {
                    "Activity period": {
                        "action": "Transfer",
                        "frequency": "Weekly",
                        "sensitivity": "Medium",
                    },
                    "Temperature": {
                        "action": "Average",
                        "frequency": "No fix time",
                        "sensitivity": "Medium",
                    },
                },
            },
        },
        "services": {
            "0": {
                "cate_service": {
                    "0": {
                        "Footage": {
                            "action": "View Data",
                            "category": "Low",
                            "frequency": "Daily",
                        }
                    }
                },
                "service_name": "The8th",
                "service_type": "Advertising Company",
            },
            "1": {
                "cate_service": {
                    "0": {
                        "Footage": {
                            "action": "View Data",
                            "category": "Low",
                            "frequency": "Daily",
                        }
                    }
                },
                "service_name": "Jame",
                "service_type": "Advertising Company",
            },
            "2": {
                "cate_service": {
                    "1": {
                        "Energy usage": {
                            "action": "Read Data",
                            "category": "Medium",
                            "frequency": "Weekly",
                        },
                        "Temperature": {
                            "action": "View Data",
                            "category": "High",
                            "frequency": "Weekly",
                        },
                    },
                    "2": {
                        "Activity period": {
                            "action": "Read Data",
                            "category": "Low",
                            "frequency": "Daily",
                        },
                        "Temperature": {
                            "action": "Send Notification",
                            "category": "Low",
                            "frequency": "Daily",
                        },
                    },
                },
                "service_name": "Meta",
                "service_type": "Tech Company",
            },
        },
        "tour": 0,
    };
      console.log('12121212');
      $.ajax({
        url: 'http://127.0.0.1:8050/webhook',
        method: 'POST',
        data:data,
      }).then((res)=>{
        print(res);
      });
    }
  </script>
  {% endblock js %}
</div>
